<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ 'rss.title'|trans({ 'website_name': getSetting("website_name") }) }}</title>
        <description>{{ 'rss.description'|trans({ 'website_name': getSetting("website_name") }) }}</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <lastBuildDate>{{ (posts|last).publishedAt|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
        <link>{{ url('blog') }}</link>
        <language>{{ app.request.locale }}</language>

        {% for post in posts %}
            <item>
                <title>{{ post.title }}</title>
                <description>{{ post.excerpt }}</description>
                <link>{{ url(post) }}</link>
                <guid>{{ url(post) }}</guid>
                <pubDate>{{ post.publishedAt|date(format='r', timezone='GMT') }}</pubDate>
                <author>{{ post.author.email }}</author>
                {% for tag in post.tags %}
                    <category>{{ tag.name }}</category>
                {% endfor %}
            </item>
        {% endfor %}
    </channel>
</rss>
