<div class="border rounded p-3 h-100 d-flex flex-column">
    {{ form_widget(form.type, {attr: {class: 'type'}}) }}
    <div class="image {{ form.type.vars.data == 'image' ? '' : 'd-none'}}">
        {% if form.vars.data is not null and form.vars.data.type == 'image' and form.vars.data.filename is not null %}
            <div class="ratio-1x1 mb-3 rounded overflow-hidden">
                <img src="{{ asset('uploads/post/' ~ form.vars.data.filename) }}" width="100%" class="ratio-1x1 rounded border" alt="{{ form.vars.data.alt }}">
            </div>
        {% endif %}
        {% if form.vars.data is null or form.vars.data.filename is null %}
            <div class="mb-3">
                <div class="ratio-1x1">
                    {{ form_widget(form.file) }}
                </div>
                {{ form_errors(form.file) }}
            </div>
        {% endif %}
        {{ form_row(form.alt) }}
    </div>
    <div class="video {{ form.type.vars.data == 'video' ? '' : 'd-none'}}">
        {% if form.vars.data is not null and form.vars.data.type == 'video' and form.vars.data.original is not null %}
            <div class="ratio-1x1 mb-3 rounded overflow-hidden">
                {{ component('video', {video: form.vars.data.original}) }}
            </div>
        {% else %}
            <div class="ratio-1x1 mb-3 rounded overflow-hidden bg-black"></div>
        {% endif %}
        {{ form_row(form.url) }}
    </div>
    <div class="flex-grow-1">&nbsp;</div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-outline-danger" data-action="collection#delete" aria-label="{{ 'action.delete_media'|trans }}">
            <span class="bi bi-trash"></span>
        </button>
    </div>
</div>

