{% set link = path('blog_show', {slug: post.slug}) %}
<div class="d-md-flex post-entry-2 half">
    <a href="{{ link }}" class="me-4 thumbnail">
        <img src="{# {{ post.attachment }} #} {{ asset('uploads/post/' ~ post.image) }}" alt="{{ post.title }}" class="img-fluid">
    </a>
    <div>
        <div class="post-meta">
            <span class="date">{{ post.category.name }}</span>
            <span class="mx-1">&bullet;</span>
            <span>{{ post.publishedAt|ago }}</span>
            <span class="mx-1">&bullet;</span>
            {% if post.readtime %}
                <span>{{ post.readtime }} {{ "min read"|trans }}</span>
            {% endif %}
        </div>
        <h3>
            <a href="{{ link }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.excerpt|html_excerpt(400) }}</p>
        {{ include('blog/partials/_post_tags.html.twig') }}
        <div class="d-flex align-items-center author">
            <div class="photo"><img src="{{ asset('uploads/user/' ~ post.author.avatar) }}" alt="{{ post.title }}" class="img-fluid"></div>
            <div class="name">
                <h3 class="m-0 p-0">{{ post.author.nickname }}</h3>
            </div>
        </div>
    </div>
</div>
