{% extends 'layouts/default.html.twig' %}

{% block title %}
	{{ getSetting("website_description_" ~ (app.request.get('_locale') ? app.request.get('_locale') : app.request.defaultLocale)) }}
{% endblock %}
{% block page 'home' %}

{% block content %}

	{% if herosettings.content == "posts" and herosettings.posts|length %}
		<section class="py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Title -->
						<div class="mb-4 d-md-flex justify-content-between align-items-center">
							<h2 class="m-0"><i class="bi bi-megaphone"></i> {{ "label.related_posts"|trans }}</h2>
							<a href="#" class="text-body small"><u>Content by: Bootstrap</u></a>
						</div>
						<div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
							<div class="tiny-slider-inner"
								data-autoplay="true"
								data-hoverpause="true"
								data-gutter="24"
								data-arrow="true"
								data-dots="false"
								data-items-xl="4" 
								data-items-md="3" 
								data-items-sm="2" 
								data-items-xs="1">

								{% for herosetting in herosettings %}
									{% include "global/_blog-similar-card.html.twig" with { post: herosetting, showdate: 1 } %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	{% if herosettings.content == "custom" %}
		<section class="py-0 py-md-5 overflow-hidden position-relative" {% if herosettings.customBackgroundName %}style="background-image: url({{ absolute_url(herosettings.getCustomBackgroundPath) }}); background-position: center center; background-repeat: no-repeat;"{% endif %}>
			<div class="container">
				<div class="row">
					<!-- Hero title -->
					<div class="col-lg-6 mx-auto text-center pt-5 position-relative">
						{% if herosettings.title %}
							<h1 class="fw-bolder display-2">{{ herosettings.title }}</h1>
						{% endif %}
						{% if herosettings.paragraph %}
							<p class="lead mb-0">{{ herosettings.paragraph }}</p>
						{% endif %}
					</div>
				</div>
			</div>
			<!-- SVG decoration left -->
			<div class="position-absolute top-50 start-100 translate-middle opacity-1 d-none d-md-block">
				<svg viewBox="0 0 200 200" width="500px" height="500px" xmlns="http://www.w3.org/2000/svg">
				<path fill="#2163E8" d="M70.6,-22.1C78.7,2,63.7,34.5,38.8,52.3C13.9,70.2,-20.9,73.4,-37.9,59.4C-54.9,45.3,-54,14,-44.7,-11.7C-35.5,-37.5,-17.7,-57.7,6.8,-59.9C31.3,-62.1,62.5,-46.3,70.6,-22.1Z" transform="translate(100 100)" />
				</svg>
			</div>
		</section>

		{#
		{% if herosettings.showSearchBox %}
			<div class="row">
				<div class="col-lg-9 col-md-8 col-sm-12 mx-auto">
					<div class="card">
						<div class="card-body p30">
							<form action="{{ path('blog') }}">
								<div class="form-row text-left">
									<div class="col-lg-3 col-sm-12">
										<label for="hero-search-category" class="form-label text-dark">{{ "Looking for"|trans }}</label>
										<select id="hero-search-category" class="select2" name="category" data-sort-options="1">
											<option value>{{ "Anything"|trans }}</option>
											{#{% for category in getPostCategories({}).getQuery().getResult() %}
												<option value="{{ category.slug }}">{{ category.name }}</option>
											{% endfor %} }
										</select>
									</div>
									<div class="col-lg-3 col-sm-12">
										<label for="hero-search-country" class="form-label text-dark">{{ "In"|trans }}</label>
										<select id="hero-search-country" class="select2" name="country" data-sort-options="1">
											<option value>{{ "Anywhere"|trans }}</option>
											Countries
										</select>
									</div>
									<div class="col-lg-3 col-sm-12">
										<label for="hero-search-stardate" class="form-label text-dark">{{ "When"|trans }}</label>
										<select id="hero-search-stardate" class="select2" name="startdate">
											<option value>{{ "Anytime"|trans }}</option>
											<option value="today">{{ "Today"|trans }}</option>
											<option value="tomorrow">{{ "Tomorrow"|trans }}</option>
											<option value="thisweekend">{{ "This weekend"|trans }}</option>
											<option value="thisweek">{{ "This week"|trans }}</option>
											<option value="nextweek">{{ "Next week"|trans }}</option>
											<option value="thismonth">{{ "This month"|trans }}</option>
											<option value="nextmonth">{{ "Next month"|trans }}</option>
										</select>
									</div>

									<div class="col-lg-3 col-sm-12 my-auto">
										<button class="btn btn-light btn-block" type="submit"><i class="fas fa-search"></i> {{ "Search"|trans }}</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		#}
	{% endif %}

	{% if getSetting('homepage_show_search_box') == "yes" %}
		<section>
			<form action="{{ path('blog') }}">
				<div class="row bg-gray m-0">
					<div class="col-md-4 p30 border-right-white">
						<div class="form-group">
							<label for="search-category" class="form-label text-dark">{{ "Looking for"|trans }}</label>
							<select id="search-category" class="select2 bg-white" name="category" data-sort-options="1">
								<option value>{{ "Anything"|trans }}</option>
								{# {% for category in services.getCategories({}).getQuery().getResult() %}
									<option value="{{ category.slug }}">{{ category.name }}</option>
								{% endfor %} #}
							</select>
						</div>
					</div>
					<div class="col-md-4 p30 border-right-white">
						<div class="form-group">
							<label for="search-country" class="form-label text-dark">{{ "In"|trans }}</label>
							<select id="search-country" class="select2 bg-white" name="country" data-sort-options="1">
								<option value>{{ "Anywhere"|trans }}</option>
								{# {% for country in services.getCountries({}).getQuery().getResult() %}
									<option value="{{ country.slug }}">{{ country.name }}</option>
								{% endfor %} #}
							</select>
						</div>
					</div>
					<div class="col-md-4 p30">
						<div class="form-group">
							<label for="search-startdate" class="form-label text-dark">{{ "When" }}</label>
							<select id="search-startdate" class="select2 bg-white" name="startdate">
								<option value>{{ "Anytime"|trans }}</option>
								<option value="today">{{ "Today"|trans }}</option>
								<option value="tomorrow">{{ "Tomorrow"|trans }}</option>
								<option value="thisweekend">{{ "This weekend"|trans }}</option>
								<option value="thisweek">{{ "This week"|trans }}</option>
								<option value="nextweek">{{ "Next week"|trans }}</option>
								<option value="thismonth">{{ "This month"|trans }}</option>
								<option value="nextmonth">{{ "Next month"|trans }}</option>
							</select>
						</div>
					</div>
					<div class="col-12 text-center mb-5">
						<button class="btn btn-light" type="submit"><i class="fas fa-search"></i> {{ "Search"|trans }}</button>
					</div>
				</div>
			</form>
		</section>
	{% endif %}

	{% if getSetting('homepage_categories_number') > 0 %}
		CATEGORIES
	{% endif %}

	{% if getSetting('homepage_posts_number') > 0 %}
		POSTS
	{% endif %}

	{% if getSetting('homepage_show_call_to_action') == "yes" %}
		<section class="section-intro padding-y-lg">
			<div class="{{ getSetting("app_layout") }}">
				<div class="row">
					<div class="col-md-10 text-center">
						<article class="text-dark text-center text-lg-left mb-3">
							<h3>{{ "Are you ready to take your"|trans }} <b class="rotate-words">{% for category in getPostCategories({ order: "postscount", limit: 9, hidden: true }).getQuery().getResult() %}{{ category.name|lower }}{% if not loop.last %}|{% endif %}{% endfor %}</b> {{ "event to the next level ?"|trans }}</h3>
						</article>
					</div>
					<div class="col-md-2 text-center text-lg-right">
						<a href="" class="btn btn-light"><i class="fas fa-calendar-plus"></i> {{ "Create my event"|trans }}</a>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

{% endblock %}
