{% set link = path('blog_show', {slug: post.slug}) %}
<div class="d-md-flex post-entry-2 half">
    <a href="{{ link }}" class="me-4 thumbnail">
        <img src="{{ asset('uploads/post/' ~ post.image) }}" alt="{{ post.title }}" class="img-fluid">
    </a>
    <div>
        <div class="post-meta">
            {% if post.category %}
                <span class="date">{{ post.category.name }}</span>
            {% endif %}
            {% if showdate is defined %}
                <span class="mx-1">&bullet;</span>
                <span>{{ post.publishedAt|ago }}</span>
            {% endif %}
            {% if post.readtime %}
                <span class="mx-1">&bullet;</span>
                <span>{{ post.readtime }} {{ "post.min_read"|trans }}</span>
            {% endif %}
            {% if post.comments|length > 0 %}
                {% include 'global/_rating.html.twig' with {'rating' : post.avgRatings} %}
            {% else %}
                <small>{{ "post.no_ratings"|trans }}</small>
            {% endif %}
        </div>
        <h3>
            <a href="{{ link }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.excerpt|html_excerpt(400) }}</p>
        {{ include('blog/partials/_post_tags.html.twig') }}
        <div class="d-flex align-items-center author">
            <div class="photo">
                {% if post.author.avatar is null %}
                    <i class="bi bi-person-circle fs-2"></i>
                {% else %}
                    <img src="{{ asset('uploads/user/' ~ post.author.avatar) }}" class="img-fluid" alt="{{ post.title }}">
                {% endif %}
            </div>
            <div class="name">
                <h3 class="m-0 p-0">{{ post.author.nickname }}</h3>
            </div>
        </div>
    </div>
</div>
