{% set runtimeConfig = {"thumbnail": {"size": thumbnailsize }} %}
{% set link = path(post) %}
<!-- Card item START -->
<div class="card border rounded-3 up-hover p-4 mb-4">
    <div class="row g-3">
        <div class="col-sm-9">
            <!-- Categories -->
            {% if post.category %}
                <a href="{{ path('blog', { category: post.category.slug }) }}" class="badge text-bg-{{ post.category.color }} mb-2">
                    <i class="fas fa-circle me-2 small fw-bold"></i>
                    {{ post.category.name }}
                </a>
            {% endif %}
            <!-- Title -->
            <h3 class="card-title">
                <a href="{{ link }}" class="btn-link text-reset">{{ post.title|html_excerpt(30) }}</a>
            </h3>
            <p>{{ post.excerpt|html_excerpt(280) }}</p>
            <!-- Card info -->
            <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                <li class="nav-item">
                    <div class="nav-link">
                        <div class="d-flex align-items-center position-relative">
                            <div class="avatar avatar-xs">
                                {% include "global/_avatar-user-blog.html.twig" with { post: post } only %}
                            </div>
                            <span class="ms-3">{{'label.by'|trans}} 
                                <a href="javascript:void;" class="stretched-link text-reset btn-link">{{ post.author.nickname|lower|capitalize }}</a>
                            </span>
                        </div>
                    </div>
                </li>
                {% if showdate is defined %}
                    <li class="nav-item">{{ post.publishedAt|ago }}</li>
                {% endif %}
            </ul>
        </div>
        <!-- Image -->
        <div class="col-sm-3">
            <img class="rounded-3" src="{{ absolute_url(asset('uploads/post/' ~ post.cover)|imagine_filter('thumbnail', runtimeConfig)) }}" alt="{{ post.title }}">
        </div>
    </div>
</div>
<!-- Card item END -->
