{% set routename = app.request.get('_route') %}
{% set routeparams = app.request.get('_route_params') %}

<!-- =======================
Footer START -->
<footer class="bg-dark pb-0 pt-5">
	<div class="container">
		<!-- Divider -->
		<hr>
		<!-- Widgets START -->
		<div class="row pt-5">
			<!-- Footer Widget -->
			<div class="col-md-6 col-lg-7 mb-4">
				<p class="h3">{{'footer.title_about'|trans}} {{ getSetting("website_name") }}</p>
				<p class="mt-3">{{ getSetting("footer_about")|raw|nl2br }}</p>
			</div>

			<!-- Footer Widget -->
			<div class="col-md-6 col-lg-3 mb-4">
				<h5 class="mb-4">{{'footer.title_navigation'|trans}}</h5>
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link pt-0" href="{{ path('homepage') }}">
									{{ "menu.homepage"|trans }}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link pt-0" href="{{ path('blog') }}">
									{{ "menu.blog"|trans }}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('blog_categories') }}">
									{{ "menu.categories"|trans }}
								</a>
							</li>
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('dashboard_index') }}">
										{% if is_granted("ROLE_ADMINISTRATOR") %}
											{{'menu.dashboard_index'|trans}}
										{% elseif is_granted("ROLE_ADMIN") %}
											{{'menu.dashboard_index'|trans}}
										{% elseif is_granted("ROLE_EDITOR") %}
											{{'menu.dashboard_index'|trans}}
										{% else %}
											{{'menu.dashboard_index'|trans}}
										{% endif %}
									</a>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('auth_login') }}">
										{{'menu.auth'|trans}}
									</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('about') }}">
									{{'menu.about'|trans}}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('contact') }}">
									{{'menu.contact'|trans}}
								</a>
							</li>
						</ul>
					</div>
					<div class="col-6">
						{# {% if categoryFooter()|length > 0 %}
							<ul class="nav flex-column">
								{% for category in categoryFooter() %}
									<li class="nav-item">
										<a class="nav-link pt-0" href="{{ path(category) }}">
											{{ category.name }}
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %} #}

						{% set show_post_category_footer = getSetting("show_post_category_footer") %}
						{% if show_post_category_footer != "1" %}
							<ul class="nav flex-column">
								{% set footerpostcategories = getPostCategories({ order: "postscount", limit: 6, hidden: true }).getQuery().getResult() %}
								{% for postcategory in footerpostcategories %}
									<li class="nav-item">
										<a class="nav-link pt-0" href="{{ path('blog', { category: postcategory.slug }) }}">
											{{ postcategory.name }}
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
			</div>

			{#
			<!-- Footer Widget -->
			<div class="col-sm-6 col-lg-3 mb-4">
				<h5 class="mb-4">{{'footer.title_tags'|trans}}</h5>
				{% if widgetTag()|length > 0 %}
					<ul class="list-inline">
						{% for tag in widgetTag() %}
							<li class="list-inline-item">
								<a 
									href="{{ path('blog', {'tag': tag.name == app.request.query.get('tag') ? null : tag.name}) }}"
									class="btn btn-sm btn-{{ tag.color }}-soft"
								>
									{{ tag.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %} 
				{% include "widget/tags-widget.html.twig" with { tags: PostTags} only %}
			</div>
			#}

			<!-- Footer Widget -->
			<div class="col-sm-6 col-lg-2 mb-4">
				<h5 class="mb-4">{{'footer.title_social'|trans}}</h5>
				{% if getSetting("facebook_url") != "" or getSetting("instagram_url") != "" or getSetting("youtube_url") != "" or getSetting("twitter_url") != "" %}
					<ul class="nav flex-column">
                        {% if getSetting("facebook_url") != "" %}
                            <li class="nav-item">
                                <a class="nav-link pt-0" href="{{ getSetting("facebook_url") }}" target="_blank">
									<i class="fab fa-facebook-square fa-fw me-2 text-facebook"></i>
									{{'footer.action_facebook'|trans}}
								</a>
                            </li>
                        {% endif %}
                        {% if getSetting("twitter_url") != "" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ getSetting("twitter_url") }}" target="_blank">
									<i class="fab fa-twitter-square fa-fw me-2 text-twitter"></i>
									{{'footer.action_twitter'|trans}}
								</a>
                            </li>
                        {% endif %}
                        {% if getSetting("instagram_url") != "" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ getSetting("instagram_url") }}" target="_blank">
									<i class="fab fa-instagram fa-fw me-2 text-instagram"></i>
									{{'footer.action_instagram'|trans}}
								</a>
                            </li>
                        {% endif %}
                        {% if getSetting("youtube_url") != "" %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ getSetting("youtube_url") }}" target="_blank">
									<i class="fab fa-youtube-square fa-fw me-2 text-youtube"></i>
									{{'footer.action_youtube'|trans}}
								</a>
                            </li>
                        {% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('rss') }}" target="_blank">
								<i class="fas fa-rss fa-fw me-2 text-secondary"></i>
								{{'footer.action_rss'|trans}}
							</a>
						</li>
					</ul>
				{% endif %}
			</div>
		</div>
		<!-- Widgets END -->
	</div>

	<!-- Footer copyright START -->
	<div class="bg-dark-overlay-3 mt-5">
		<div class="container">
			<div class="row align-items-center justify-content-md-between py-4">
				<div class="col-lg-6">
					<!-- Copyright -->
					<div class="text-center text-md-start text-primary-hover text-muted">
						{{"footer_copyright"|trans}} &copy; {{ "now"|date('Y') }} 
						<a href="{{ getSetting("website_url") }}" class="text-reset btn-link" target="_blank">{{ getSetting("website_name") }}</a>. {{'footer_reserved'|trans}}
					</div>
				</div>
				<div class="col-md-6 d-sm-flex align-items-center justify-content-center justify-content-md-end">
					<!-- Language switcher -->
					{% if routename and locales|split('|')|length > 2 %}
						<div class="dropup me-0 me-sm-3 mt-3 mt-md-0 text-center text-sm-end">
							<a class="dropdown-toggle text-primary-hover" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="flag flag-{{ app.request.locale|getLangFlag }} me-2"></i>
								{{ app.request.locale|getLangName }}
							</a>
							<ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
								{% for locale in locales|split('|') %}
									{% if locale != "" and locale != app.request.locale %}
										<li>
											<a class="dropdown-item" href="{{ path(routename, routeparams|merge({'_locale' : locale})) }}">
												<i class="flag flag-{{ locale|getLangFlag }} me-2"></i>
												{{ locale|getLangName }}
											</a>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					<!-- Links -->
					<ul class="nav text-primary-hover text-center text-sm-end justify-content-center justify-content-center mt-3 mt-md-0">
						{% if getSetting('show_terms_of_service_page') == "yes" %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('page', { slug : getSetting('terms_of_service_page_slug') }) }}">
									{{ "menu.terms_of_service_page"|trans }}
								</a>
							</li>
						{% endif %}
						{% if getSetting('show_privacy_policy_page') == "yes" %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('page', { slug : getSetting('privacy_policy_page_slug') }) }}">
									{{ "menu.privacy_policy_page"|trans }}
								</a>
							</li>
						{% endif %}
						{% if getSetting('show_cookie_policy_page') == "yes" %}
							<li class="nav-item">
								<a class="nav-link pe-0" href="{{ path('page', { slug : getSetting('cookie_policy_page_slug') }) }}">
									{{ "menu.cookie_policy_page"|trans }}
								</a>
							</li>
						{% endif %}
						{% if getSetting('show_gdpr_compliance_page') == "yes" %}
							<li class="nav-item">
								<a class="nav-link pe-0" href="{{ path('page', { slug : getSetting('gdpr_compliance_page_slug') }) }}">
									{{ "menu.gdpr_compliance_page"|trans }}
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer copyright END -->
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
{% if getSetting("show_back_to_top_button") == "yes" %}
	<a href="#" class="back-top"><i class="bi bi-arrow-up-short"></i></a>
{% endif %}
