<section class="bg-dark-overlay-4" style="background-image:url({{ asset('uploads/post/' ~ post.image) }}); background-position: center left; background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 py-md-5 my-lg-5">
				{% if post.category %}
					<a href="{{ path('blog', { category: post.category.slug }) }}" class="badge text-bg-{{ post.category.color }} mb-2">
						<i class="fas fa-circle me-2 small fw-bold"></i>
						{{ post.category.name }}
					</a>
				{% endif %}
				<h1 class="text-white">{{ pagetitle }}</h1>
				<p class="lead text-white">
					{{ post.excerpt|html_excerpt(263) }}
				</p>
				<!-- Info -->
				<ul class="nav nav-divider text-white-force align-items-center">
					<li class="nav-item">
						<div class="nav-link">
							<div class="d-flex align-items-center text-white position-relative">
								<div class="avatar avatar-sm">
									{% include "global/_avatar-user-blog.html.twig" with { post: post } only %}
								</div>
								<span class="ms-3">{{'label.by'|trans}}
									<a href="javascript:void;" class="stretched-link text-reset btn-link">{{ post.author.nickname|lower|capitalize }}</a>
								</span>
							</div>
						</div>
					</li>
					{% if showdate is defined %}
						<li class="nav-item">{{ post.publishedAt|ago }}</li>
					{% endif %}
					{% if post.readtime %}
						<li class="nav-item">{{ post.readtime }} {{ "post.min_read"|trans }}</li>
					{% endif %}
					<li class="nav-item">
						<i class="far fa-eye me-1"></i>
						{{ post.views }} {{ "post.views"|trans }}
					</li>
					<li class="nav-item">
						<a href="#">
							<i class="fas fa-heart me-1 text-danger"></i>
						</a>
						266
					</li>
					<li class="nav-item">
						<i class="far fa-comment"></i>
						{{ post.comments|length }}
					</li>
				</ul>
				<!-- Share post -->
				<div class="d-md-flex align-items-center mt-4">
					<h5 class="text-white me-3">{{ "post.share_post"|trans }}: </h5>
					{% include "global/_shared.html.twig" with { post: post } only %}
				</div>
			</div>
		</div>
	</div>
</section>
