{% set routename = app.request.get('_route') %}
{% set routeparams = app.request.get('_route_params') %}

<a href="{{ path('blog_index') }}" class="logo d-flex align-items-center">
    <h1>{{ getSetting("website_name") }}</h1>
</a>
<nav id="navbar" class="navbar"> 
	<ul>
		<li class="{{ routename == 'blog_index' ? ' active' : '' }}">
			<a href="{{ path('blog_index') }}">{{'menu.blog'|trans}}</a>
		</li>
		{% if categoryDropdown()|length > 0 %}
			<li class="dropdown">
				<a href="javascript:void;">
					<span>{{'menu.categories'|trans}}</span>
					<i class="bi bi-chevron-down dropdown-indicator"></i>
				</a>
				<ul>
					{% for category in categoryDropdown() %}
						<li class="{{ routename == 'category_show' ? ' active' : '' }}">
							<a href="{{ path('category_show', {slug: category.slug}) }}">
								{{ category.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endif %}
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<li class="dropdown widget-header">
				<a href="javascript:void;">
					<span class="avatar">
						{% include "global/_user-avatar.html.twig" with { user: app.user } only %}
					</span>
					<div class="text-wrap ps-2">
						{#<div class="fs-xs lh-1 opacity-60">{{'menu.hello'|trans}}</div>#}
						<span class="fs-6">{{ app.user.nickname }}</span>
					</div>
					<i class="bi bi-chevron-down dropdown-indicator"></i>
				</a>
				<ul>
					<li>
						<a href="{{ path('dashboard_index') }}">
							{% if is_granted("ROLE_ADMINISTRATOR") %}
								{{'menu.dashboard_index'|trans}}
							{% elseif is_granted("ROLE_ADMIN") %}
								{{'menu.dashboard_index'|trans}}
							{% elseif is_granted("ROLE_EDITOR") %}
								{{'menu.dashboard_index'|trans}}
							{% else %}
								{{'menu.dashboard_index'|trans}}
							{% endif %}
						</a>
					</li>
					{#
					<li class="{{ routename == 'profile_update_profile' ? ' active' : '' }}">
						<a href="{{ path('profile_update_profile') }}">
							{{ 'menu.user_update_profile'|trans}}
						</a>
					</li>
					<li class="{{ routename == 'profile_update_avatar' ? ' active' : '' }}">
						<a href="{{ path('profile_update_avatar') }}">
							{{ 'menu.user_update_avatar'|trans}}
						</a>
					</li>
					<li class="{{ routename == 'profile_update_password' ? ' active' : '' }}">
						<a href="{{ path('profile_update_password') }}">
							{{ 'menu.user_update_password'|trans}}
						</a>
					</li>
					#}
					{% if not is_granted('IS_IMPERSONATOR') %}
						<li>
							<a href="{{ path('auth_logout') }}">
								{{ "menu.logout"|trans }}
							</a>
						</li>
					{% else %}
						<li>
							<a href="{{ impersonation_exit_path(path('blog_index')) }}">
								{{ "menu.impersonation_exit_path"|trans }}
							</a>
						</li>
					{% endif %}
				</ul>
			</li>
		{% else %}
			<li class="{{ routename == 'auth_login' ? ' active' : '' }}">
				<a href="{{ path('auth_login') }}">{{ 'menu.auth'|trans }}</a>
			</li>
		{% endif %}
        <li class="{{ routename == 'about_index' ? ' active' : '' }}">
			<a href="{{ path('about_index') }}">{{ 'menu.about'|trans }}</a>
		</li>
		<li class="{{ routename == 'contact_index' ? ' active' : '' }}">
			<a href="{{ path('contact_index') }}">{{ 'menu.contact'|trans }}</a>
		</li>
		<li class="{{ routename == 'blog_search' ? ' active' : '' }}">
			<a href="{{ path('blog_search') }}">{{ 'menu.search'|trans }}</a>
		</li>
        {% if routename and locales|split('|')|length > 2 %}
            <li class="dropdown">
                <a href="javascript:void;">
                    <span class="flag flag-{{ app.request.locale|getLangFlag }} me-2"></span>
                    <span>{{ app.request.locale|getLangName }}</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i>
                </a>
                <ul>
                    {% for locale in locales|split('|') %}
                        <li>
                            {% if locale != "" and locale != app.request.locale %}
                                <a href="{{ path(routename, routeparams|merge({'_locale' : locale})) }}">
                                    <span class="flag flag-{{ locale|getLangFlag }} me-2"></span>
                                    {{ locale|getLangName }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
	</ul>
</nav>
