<!-- Offcanvas START -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
	<div class="offcanvas-header justify-content-end">
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body d-flex flex-column pt-0">
		<div>
			{#
			<img class="light-mode-item my-3" src="assets/images/logo.svg" alt="logo">
			<img class="dark-mode-item my-3" src="assets/images/logo-light.svg" alt="logo">
			#}
			<h2 class="my-3 fw-bold">{{ getSetting("website_name") }}</h2>
			<p>The next-generation blog, news, and magazine theme for you to start sharing your stories today!</p>
			<!-- Nav START -->
			<ul class="nav d-block flex-column my-4">
				<li class="nav-item h5">
					<a class="nav-link" href="{{ path('homepage') }}">{{'menu.homepage'|trans}}</a>
				</li>
				<li class="nav-item h5">
					<a class="nav-link" href="{{ path('blog') }}">{{'menu.blog'|trans}}</a>
				</li>
				<li class="nav-item h5">
					<a class="nav-link" href="{{ path('about') }}">{{'menu.about'|trans}}</a>
				</li>
				<li class="nav-item h5">
					<a class="nav-link" href="{{ path('contact') }}">{{'menu.contact'|trans}}</a>
				</li>
			</ul>
			<!-- Nav END -->
			<div class="bg-primary bg-opacity-10 p-4 mb-4 text-center w-100 rounded">
				<span>{{ getSetting("website_name") }}</span>
				<h3>Save on Premium Membership</h3>
				<p>Get the insights report trusted by experts around the globe. Become a Member Today!</p>
				<a href="#" class="btn btn-warning">View pricing plans</a>
			</div>
		</div>
		{% if getSetting("website_contact_email") != "" or getSetting("website_contact_phone") != "" or getSetting("website_contact_address") != "" %}
			<div class="mt-auto pb-3">
				<!-- Address -->
				{% if getSetting("website_contact_address") != "" %}
					<p class="text-body mb-2 fw-bold"></p>
					<address class="mb-0">{{ getSetting("website_contact_address")|raw }}</address>
				{% endif %}
				{% if getSetting("website_contact_phone") != "" %}
					<p class="mb-2">{{'label.website_contact_phone'|trans}}: 
						<a href="tel:{{ getSetting(" website_contact_phone") }}" class="text-body">
							<u>{{ getSetting("website_contact_phone") }}</u>
						</a>
					</p>
				{% endif %}
				{% if getSetting("website_contact_email") != "" %}
					<a href="mailto:{{ getSetting(" website_contact_email") }}" class="text-body d-block">{{ getSetting("website_contact_email") }}</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
<!-- Offcanvas END -->
