<!-- ======= Sidebar ======= -->
<div class="aside-block">
	<ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">{{'Popular'|trans}}</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">{{'Trending'|trans}}</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">{{'Latest'|trans}}</button>
		</li>
	</ul>

	<div class="tab-content" id="pills-tabContent">

		<!-- Popular -->
		<div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Sport</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Culture</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">9 Half-up/half-down Hairstyles for Long and Medium Hair</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">Life Insurance And Pregnancy: A Working Mom’s Guide</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Business</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">The Best Homemade Masks for Face (keep the Pimples Away)</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">10 Life-Changing Hacks Every Working Mom Should Know</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>
		</div>
		<!-- End Popular -->

		<!-- Trending -->
		<div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Culture</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">9 Half-up/half-down Hairstyles for Long and Medium Hair</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">Life Insurance And Pregnancy: A Working Mom’s Guide</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Sport</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>
			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Business</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">The Best Homemade Masks for Face (keep the Pimples Away)</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">10 Life-Changing Hacks Every Working Mom Should Know</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>
		</div>
		<!-- End Trending -->

		<!-- Latest -->
		<div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">Life Insurance And Pregnancy: A Working Mom’s Guide</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Business</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">The Best Homemade Masks for Face (keep the Pimples Away)</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">10 Life-Changing Hacks Every Working Mom Should Know</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Sport</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Lifestyle</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

			<div class="post-entry-1 border-bottom">
				<div class="post-meta">
					<span class="date">Culture</span>
					<span class="mx-1">&bullet;</span>
					<span>Jul 5th '22</span>
				</div>
				<h2 class="mb-2">
					<a href="#">9 Half-up/half-down Hairstyles for Long and Medium Hair</a>
				</h2>
				<span class="author mb-3 d-block">Jenny Wilson</span>
			</div>

		</div>
		<!-- End Latest -->

	</div>
</div>

<div class="aside-block">
	<h3 class="aside-title">{{'Video'|trans}}</h3>
	<div class="video-post">
		<a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
			<span class="bi-play-fill"></span>
			<img src="{{ asset('assets/img/post-landscape-5.jpg') }}" alt="" class="img-fluid">
		</a>
	</div>
</div>
<!-- End Video -->

{% if app.request.attributes.get('_route') == 'blog_show' %}
	<div class="aside-block">
		<h3 class="aside-title">{{'Share this post'|trans}}</h3>
		<div class="mt-n3 ms-n3 mb-4 pb-3 pb-lg-0">
			{% include "widget/shared.html.twig" with { post: post} only %}
		</div>
	</div>
	<!-- End Shareds -->
{% endif %}

<div class="aside-block">
	{% if blogCategory()|length > 0 %}
		<h3 class="aside-title">{{'Categories'|trans}}</h3>
		<ul class="aside-links list-unstyled">
			{% include "widget/categories.html.twig" with { category: blogCategory()} only %}
		</ul>
	{% endif %}
</div>
<!-- End Categories -->

<div class="aside-block">
	{% if blogTag()|length > 0 %}
		<h3 class="aside-title">{{'Tags'|trans}}</h3>
		<ul class="aside-tags list-unstyled">
			{% include "widget/tags.html.twig" with { tag: blogTag()} only %}
		</ul>
	{% endif %}
</div>
<!-- End Tags -->

<div class="aside-block">
	<h3 class="aside-title">{{'RSS'|trans}}</h3>
	<ul class="aside-tags list-unstyled">
		{% include "widget/rss.html.twig" %}
	</ul>
</div>
<!-- End RSS -->
