<div class="toast-container" aria-live="polite" aria-atomic="true">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                {% if label == "success" %}
                    <div class="toast-header bg-success text-white">
                        <i class="ai-circle-check fs-lg me-2"></i>
                        <span class="me-auto">{{'Success !'|trans}}</span>
                        <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                {% elseif label == "info" %}
                    <div class="toast-header bg-info text-white">
                        <i class="ai-circle-info fs-lg me-2"></i>
                        <span class="me-auto">{{'Info !'|trans}}</span>
                        <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                {% elseif label == "warning" %}
                    <div class="toast-header bg-warning text-white">
                        <i class="ai-triangle-alert fs-lg me-2"></i>
                        <span class="me-auto">{{'Warning !'|trans}}</span>
                        <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                {% elseif label == "danger" %}
                    <div class="toast-header bg-danger text-white">
                        <i class="ai-circle-slash fs-lg me-2"></i>
                        <span class="me-auto">{{'Error !'|trans}}</span>
                        <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="toast-body">
                    {% if message is iterable %}
                        {{ message.message|raw }}
                    {% else %}
                        {{ message|raw }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
