<div class="pb-2 pb-lg-0 mb-4 mb-lg-5 fs-sm">
    {% if user.avatar is null %}
        <i class="bi bi-person-circle fs-2"></i>
    {% else %}
        <img src="{{ asset('uploads/user/' ~ user.avatar) }}" class="rounded-circle mb-2" width="80" alt="{{ user.nickname }}">
    {% endif %}
    <p class="mb-1 text-muted d-inline-block">
        {{'label.hello'|trans}} {{ user.nickname }} <br>
        {% if app.user and app.user.isVerified == false %}
            <i class="bi bi-person-slash fs-base text-danger"></i>
        {% else %}
            <i class="bi bi-person-check fs-base text-success"></i>
        {% endif %}
        {{ 'label.registered'|trans }} {{ user.createdAt|ago }}
    </p>
</div>
