<div class="table-responsive">
    <table class="table table-hover table-vcenter text-nowrap">
        <thead>
            <tr>
                <th class="text-center"><i class="bi bi-diagram-2"></i></th>
                <th>{{ 'label.name'|trans }}</th>
                <th>{{ 'label.username'|trans }} / {{ 'label.email'|trans }}</th>
                <th>{{ 'label.registration_date'|trans }}</th>
                <th>{{ 'label.last_login'|trans }}</th>
                <th>{{ 'label.status'|trans }}</th>
                <th class="text-center"><i class="bi bi-gear"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-center text-sm">
                        {% for role in user.roles %}
                            {% if role == "ROLE_ADMINISTRATOR" %}
                                {% set name = "role.super_administrator"|trans %}
                                {% set color = "dark" %}
                            {% elseif role == "ROLE_ADMIN" %}
                                {% set name = "role.administrator"|trans %}
                                {% set color = "danger" %}
                            {% elseif role == "ROLE_EDITOR" %}
                                {% set name = "role.editor"|trans %}
                                {% set color = "warning" %}
                            {% else %}
                                {% set name = "role.user"|trans %}
                                {% set color = "success" %}
                            {% endif %}
                            <span class="badge bg-{{ color }}">{{ name }}</span>
                        {% endfor %}
                    </td>
                    <td class="text-sm">
                        {% if user.avatar is null %}
                            <i class="bi bi-person-circle fs-2"></i>
                        {% else %}
                            <img src="{{ asset('uploads/user/' ~ user.avatar) }}" class="user-avatar" alt="{{ user.nickname }}">
                        {% endif %}
                        {#<span>{{ user.getCrossRoleName }}</span>
                        {% if user.country %}
                            <span class="flag flag-{{user.country.code|lower}} ml-2 mb-2"></span>
                        {% endif %}
                        #}
                    </td>
                    <td class="text-sm">
                        {{ user.nickname }}<br>{{ user.email }}
                    </td>
                    <td class="text-sm">
                        {{ user.createdAt|ago }}
                        {#
                        {% if user.facebookId %}
                            <i class="fab fa-facebook-f fa-sm btn-facebook ml-2 p-2" title="Facebook Id: {{ user.facebookId }}" data-toggle="tooltip"></i>
                        {% endif %}
                        {% if user.googleId %}
                            <i class="fab fa-google fa-sm btn-youtube ml-2 p-2" title="Google Id: {{ user.googleId }}" data-toggle="tooltip"></i>
                        {% endif %}
                        #}
                    </td>
                    <td class="text-sm">
                        {% if user.lastLogin %}
                            <small>{{ user.lastLogin|ago}}</small>
                        {% else %}
                            {{ "content.na"|trans }}
                        {% endif %}
                    </td>
                    <td class="text-sm">
                        {% if user.isIsVerified %}
                            <span class="badge bg-success"><i class="bi bi-person-check"></i> {{ "action.enabled"|trans }}</span>
                        {% else %}
                            <span class="badge bg-danger"><i class="bi bi-person-slash"></i> {{ "action.disabled"|trans }}</span>
                        {% endif %}
                        {% if user.deletedAt %}
                            <br>
                            <br>
                            <span class="badge bg-danger"><i class="bi bi-clock"></i> {{ "action.deletedAt"|trans }}</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <div class="item-action dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown" data-boundary="window" class="icon"><i class="bi bi-three-dots-vertical"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <span data-title="{{ "label.user_info"|trans }}" data-url="{{ path('dashboard_administrator_user_information', { slug : user.slug }) }}" class="dropdown-item ajax-loading"><i class="dropdown-icon bi bi-file text-muted"></i> {{ "action.user_info"|trans }}</span>
                                <a href="{{ path('dashboard_index', {'_switch_user': (user.nickname)}) }}" class="dropdown-item"><i class="dropdown-icon bi bi-incognito text-muted"></i> {{ "action.impersonate"|trans }}</a>
                                {% if user.isIsVerified %}
                                    <a href="{{ path('dashboard_administrator_user_disable', { slug : user.slug }) }}" class="dropdown-item"><i class="dropdown-icon bi bi-person-slash text-muted"></i> {{ "action.disabled"|trans }}</a>
                                {% else %}
                                    <a href="{{ path('dashboard_administrator_user_enable', { slug : user.slug }) }}" class="dropdown-item"><i class="dropdown-icon bi bi-person-check text-muted"></i> {{ "action.enable"|trans }} </a>
                                {% endif %}
                                {% if user.deletedAt %}
                                    <a href="{{ path('dashboard_administrator_user_restore', { slug : user.slug }) }}" class="dropdown-item"><i class="dropdown-icon bi bi-recycle text-muted"></i> {{ "action.restore"|trans }}</a>
                                    <span data-target="{{ path('dashboard_administrator_user_delete_permanently', { slug : user.slug }) }}" class="dropdown-item requires-confirmation" data-confirmation-text="{{ "action.delete_user_confirmation"|trans }}"><i class="dropdown-icon bi bi-trash text-muted"></i> {{ "action.deletedAt"|trans }}</span>
                                {% else %}
                                    <a href="{{ path('dashboard_administrator_user_delete', { slug : user.slug }) }}" class="dropdown-item"><i class="dropdown-icon bi bi-clock text-muted"></i> {{ "action.delete"|trans }} </a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
