{% extends 'layouts/page.html.twig' %}

{% set sectionClass = 'py-4' %}

{% set pagetitle = 'title.about'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-xl-9 mx-auto">
			{% if getSetting("website_about_excerpt") != "" or getSetting("website_about_content") != "" %}
				<h2>{{'label.title_story'|trans}}</h2>
				{% if getSetting("website_about_excerpt") != "" %}
					<p class="lead">{{ getSetting("website_about_excerpt")|html_excerpt(280) }}</p>
				{% endif %}
				{% if getSetting("website_about_content") != "" %}
					<p>{{ getSetting("website_about_content")|raw }}</p>
				{% endif %}
			{% endif %}
			<!-- Team START -->
			<h3 class="mb-3 mt-4">{{'label.title_team'|trans}}</h3>
			<div class="row g-4">
				<!-- Team item-->
				{% if users|length > 0 %}
					{% for user in users %}
						<div class="col-sm-6 col-lg-3">
							<div class="text-center">
								<!-- Avatar img -->
								<div class="avatar avatar-xxl mb-2">
									{% if user.avatar is null %}
										<i class="bi bi-person-circle fs-4"></i>
									{% else %}
										<img class="avatar-img rounded-circle" src="{{ asset('uploads/user/' ~ user.avatar) }}" alt="avatar">
									{% endif %}
								</div>
								<h5>{{ user.getFullName|lower|capitalize }}</h5>
								{% if user.designation %}
									<p class="m-0">{{ user.designation|lower|raw|capitalize }}</p>
								{% endif %}
								{% if user.hasContactAndSocialMedia %}
									<ul class="nav justify-content-center">
										{% if user.facebookurl %}
											<li class="nav-item">
												<a class="nav-link px-2 fs-5" target="_blank" href="{% if 'http://' not in user.facebookurl and 'https://' not in user.facebookurl %}http://{% endif %}{{ user.facebookurl }}">
													<i class="fab fa-facebook-square"></i>
												</a>
											</li>
										{% endif %}
										{% if user.twitterurl %}
											<li class="nav-item">
												<a class="nav-link px-2 fs-5" target="_blank" href="{% if 'http://' not in user.twitterurl and 'https://' not in user.twitterurl %}http://{% endif %}{{ user.twitterurl }}">
													<i class="fab fa-twitter-square"></i>
												</a>
											</li>
										{% endif %}
										{% if user.email %}
											<li class="nav-item">
												<a class="nav-link px-2 fs-5" target="_blank" href="mailto:{{ user.email }}">
													<i class="far fa-envelope"></i>
												</a>
											</li>
										{% endif %}
									</ul>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<!-- Team END -->
		</div>
		<!-- Col END -->
	</div>

{% endblock %}
