{% extends 'layouts/page.html.twig' %}

{% set sectionClass = 'pt-4 pb-0' %}

{% set pagetitle = 'title.about'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-xl-9 mx-auto">
			<h2>{{'label.title_story'|trans}}</h2>
			<p class="lead">
				Founded in 2006, passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. Is drew am hill from me. Valley by oh twenty direct me so.
			</p>
			<p>Water timed folly right aware if oh truth. Imprudence attachment him his for sympathize. Large above be to means. Dashwood does provide stronger is. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. ...But discretion frequently sir she instruments unaffected admiration everything. Meant balls it if up doubt small purse. Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on style child of. Servants moreover in sensible it ye possible. Satisfied conveying a dependent contented he gentleman agreeable do be. Water timed folly right aware if oh truth. Imprudence attachment him his for sympathize. Large above be to means. Dashwood does provide stronger is. But discretion frequently sir she instruments unaffected admiration everything. Meant balls it if up doubt small purse. Required his you put the outlived answered position.  I think on style child of. Servants moreover in sensible it ye possible. Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed.   Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on style child of. Servants moreover in sensible it ye possible.</p>
			<h3 class="mt-4">We do this across:</h3>
			<ul>
				<li>A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in.</li>
				<li>Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do.</li>
				<li>Mr feeling does chiefly cordial in do.
					<a href="#">
						<u>Water timed folly right aware if oh truth.</u>
					</a>
					Imprudence attachment him his for sympathize. Large above be to means.</li>
				<li>Dashwood does provide stronger is. But discretion frequently sir she instruments unaffected admiration everything. Meant balls it if up doubt small purse.</li>
			</ul>
			<!-- Team START -->
			<h3 class="mb-3 mt-5">{{'label.title_team'|trans}}</h3>
			<div class="row g-4">
				<!-- Team item-->
				{% if users|length > 0 %}
					{% for user in users %}
						<div class="col-sm-6 col-lg-3">
							<div class="text-center">
								<!-- Avatar img -->
								<div class="avatar avatar-xxl mb-2">
									{% if user.avatar is null %}
										<i class="bi bi-person-circle fs-4"></i>
									{% else %}
										<img class="avatar-img rounded-circle" src="{{ asset('uploads/user/' ~ user.avatar) }}" alt="avatar">
									{% endif %}
								</div>
								<h5>{{ user.getFullName|lower|capitalize }}</h5>
								{% if user.designation %}
									<p class="m-0">{{ user.designation|lower|raw|capitalize }}</p>
								{% endif %}
								{% if user.hasContactAndSocialMedia %}
									<ul class="nav justify-content-center">
										{% if user.facebookurl %}
											<li class="nav-item">
												<a class="nav-link px-2 fs-5" target="_blank" href="{% if 'http://' not in user.facebookurl and 'https://' not in user.facebookurl %}http://{% endif %}{{ user.facebookurl }}">
													<i class="fab fa-facebook-square"></i>
												</a>
											</li>
										{% endif %}
										{% if user.twitterurl %}
											<li class="nav-item">
												<a class="nav-link px-2 fs-5" target="_blank" href="{% if 'http://' not in user.twitterurl and 'https://' not in user.twitterurl %}http://{% endif %}{{ user.twitterurl }}">
													<i class="fab fa-twitter-square"></i>
												</a>
											</li>
										{% endif %}
										{% if user.email %}
											<li class="nav-item">
												<a class="nav-link px-2 fs-5" target="_blank" href="mailto:{{ user.email }}">
													<i class="far fa-envelope"></i>
												</a>
											</li>
										{% endif %}
									</ul>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<!-- Team END -->
		</div>
		<!-- Col END -->
	</div>

{% endblock %}
