{% extends 'layouts/page.html.twig' %}

{% set sectionId = 'contact' %}
{% set sectionClass = 'contact mb-5' %}

{% set pagetitle = 'title.contact'|trans %}
{% block title pagetitle %}

{% block content %}
    {% if getSetting("website_contact_email") != "" or getSetting("website_contact_phone") != "" or getSetting("website_contact_fax") != "" or getSetting("website_contact_address") != "" %}
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h1 class="page-title">{{pagetitle}}</h1>
            </div>
        </div>
        <div class="row gy-4">
            {% if getSetting("website_contact_address") != "" %}
                <div class="col-md-4">
                    <div class="info-item">
                        <i class="bi bi-geo-alt"></i>
                        <h3>{{'title.website_contact_address'|trans}}</h3>
                        <address>{{ getSetting("website_contact_address")|raw }}</address>
                    </div>
                </div>
            {% endif %}
            {% if getSetting("website_contact_phone") != "" %}
                <div class="col-md-4">
                    <div class="info-item info-item-borders">
                        <i class="bi bi-phone"></i>
                        <h3>{{'title.website_contact_phone'|trans}}</h3>
                        <p>
                            <a href="tel:{{ getSetting("website_contact_phone") }}">{{ getSetting("website_contact_phone") }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if getSetting("website_contact_email") != "" %}
                <div class="col-md-4">
                    <div class="info-item">
                        <i class="bi bi-envelope"></i>
                        <h3>{{'title.website_contact_email'|trans}}</h3>
                        <p>
                            <a href="mailto:{{ getSetting("website_contact_email") }}">{{ getSetting("website_contact_email") }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if getSetting("website_contact_email") %}
            <div class="form mt-5">
                {{ form_start(form, {'attr': {'class': 'php-email-form', 'role': 'form'}}) }}
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.fullname) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.subject) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.message) }}
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center">
                        <button type="submit">{{ 'action.website_contact'|trans }}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
