{# management of the display of the comments of the opinions and the notes left by the users #}
{% if comments|length > 0 %}
	<div class="comments" id="comment-list">
		<h5 class="comment-title py-4">{{ 'post.num_comments'|trans({ 'count': comments|length }) }}</h5>

		{# Display of the average of the given marks #}
		<div class="alert alert-info">
			<h4 class="alert-heading text-center">
				<div class="row align-items-center">
					<div class="col-md-8">
						{{ "comment.overall_rating"|trans }}
					</div>
					<div class="col-md-4">
						{% include 'global/_rating.html.twig' with {'rating' : post.avgRatings} %}
						<br>
						<small>{{ 'comment.num_comments'|trans({ 'count': comments|length})|raw  }}</small>
					</div>
				</div>
			</h4>
		</div>

		{# Display of all comments and user reviews #}
		{% for c in comments %}
			{% if c.parent == null %}
				<div class="comment d-flex mb-4" id="c{{ c.id }}">
					<div class="flex-shrink-0">
						<div class="avatar avatar-sm rounded-circle">
							{% if c.author.avatar is null %}
								<i class="bi bi-person-circle fs-2"></i>
							{% else %}
								<img class="avatar-img" src="{{ asset('uploads/user/' ~ c.author.avatar) }}" alt="" class="img-fluid">
							{% endif %}
						</div>
					</div>
					<div class="flex-grow-1 ms-2 ms-sm-3">
						<div class="comment-meta d-flex align-items-baseline">
							<h6 class="me-2">{{ c.author.nickname }}</h6>
							<span class="text-muted">{{ c.createdAt|ago }}</span>
						</div>
						<div class="comment-body">
							{{ c.content|markdown_to_html|sanitize_html }}
						</div>
						<div class="rating-wrap mt-3">
							<div class="label-rating">
								{{ "comment.label_rating"|trans }}:
							</div>
							{% include 'global/_rating.html.twig' with {'rating' : c.rating} %}
							<strong>{{ "comment.nb_rating"|trans|lower }}{% if c.rating > 1 %}s{% endif %}</strong>
						</div>
						<div class="comment-replies bg-light p-3 mt-3 rounded">
							<h6 class="comment-replies-title mb-4 text-muted text-uppercase">
								{{ 'post.num_replies'|trans({ 'count': c.replies|length }) }}
							</h6>
							{% for reply in c.replies %}
								<div class="reply d-flex mb-4">
									<div class="flex-shrink-0">
										<div class="avatar avatar-sm rounded-circle">
											{% if reply.author.avatar is null %}
												<i class="bi bi-person-circle fs-2"></i>
											{% else %}
												<img class="avatar-img" src="{{ asset('uploads/user/' ~ reply.author.avatar) }}" alt="" class="img-fluid">
											{% endif %}
										</div>
									</div>
									<div class="flex-grow-1 ms-2 ms-sm-3">
										<div class="reply-meta d-flex align-items-baseline">
											<h6 class="mb-0 me-2">@{{ reply.author.nickname }}</h6>
											<span class="text-muted">{{ reply.createdAt|ago }}</span>
										</div>
										<div class="reply-body">
											{{ reply.content|markdown_to_html|sanitize_html }}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		{% else %}
			<h5 class="comment-title py-4">{{ 'post.no_comments'|trans }}</h5>
		{% endfor %}
	</div>
{% endif %}

{% block javascripts %}
	<script>
		window.onload = () => {
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
	</script>
{% endblock %}
