<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>
        <title>{% block title %}{% endblock %} | {{ getSetting("website_name") }}</title>
        {{ include("global/_meta.html.twig") }}
        {{ include("global/_stylesheets.html.twig") }}
        {{ include("global/_javascripts.html.twig") }}
    </head>
	<body class="
        {% block blog '' %} {% block page '' %} {% block layout 'default' %}" 
        data-timezone="{{ date_timezone }}" 
        {% if getSetting('show_cookie_policy_bar') == "yes" %} data-cookie-bar-page-link="{{ path('page', { slug : getSetting('cookie_policy_page_slug') }) }}" {% endif %} 
        {% if getEnv('DEMO_MODE') == "1" %} data-demo-mode="1" {% endif %}
    >
        {{ component('header') }}
        <main id="main">
            {% block body %}{% endblock %}
            {{ component('flash_messages') }}
        </main>
        {{ include("global/_footer.html.twig") }}
    </body>
</html>
