<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>
        <title>{% block title %}{% endblock %} | {{ getSetting("website_name") }}</title>
        {{ include("global/_meta.html.twig") }}

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}{% endblock %}

        {# Custom css code added in the app parameters #}
        {% if getSetting('custom_css') != "" and getSetting('custom_css') is not null %}
            <style>
                {{getSetting('custom_css')|raw}}
            </style>
        {% endif %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
	<body class="
        {% block blog '' %} {% block page '' %} {% block layout 'default' %}" 
        data-timezone="{{ date_timezone }}" 
        {% if getSetting('show_cookie_policy_bar') == "yes" %} data-cookie-bar-page-link="{{ path('page', { slug : getSetting('cookie_policy_page_slug') }) }}" {% endif %} 
        {% if getEnv('DEMO_MODE') == "1" %} data-demo-mode="1" {% endif %}
    >
        {% block body %}{% endblock %}
        {{ component('flash_messages') }}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% include "global/_dashboard-items-sidenav.html.twig" %}
        {% endif %}
    </body>
</html>
