{% extends 'layouts/base.html.twig' %}

{% block layout %}{{ parent() }} blog{% endblock %}

{% block body %}
    {{ include("global/_header.html.twig") }}
    <main id="main">
        <section id="{{ sectionId is defined ? sectionId : '' }}" class="{{ sectionClass is defined ? sectionClass : '' }}">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 {{ class is defined ? class : '' }}" data-aos="fade-up">
                        {{ include("global/_is_granted.html.twig") }}
                        {# {% include "global/_user-isverified.html.twig" with { user: app.user } %} #}
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-md-3">
                        {{ render(controller(
                            'App\\Controller\\BlogController::blogSidebar',
                            { 'maxResults': 3 }
                        )) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{ include("global/_footer.html.twig") }}
{% endblock %}

