{% extends 'layouts/base.html.twig' %}

{% block layout %}{{ parent() }} blog{% endblock %}

{% block body %}
    {{ include("global/_header.html.twig") }}
    <main id="main">
        <section id="{{ sectionId is defined ? sectionId : '' }}" class="{{ sectionClass is defined ? sectionClass : '' }}">
            <div class="container">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    {% include "global/_message.html.twig" with { type: 'info', icon: 'ai-circle-info', message: ('You are connected as "%nickname%'|trans({'%nickname%' : app.user.nickname})~ '", <a href="'~ path('dashboard_index', {'_switch_user': '_exit'}) ~'">' ~ 'Click here'|trans ~ '</a> ' ~ 'to return to your dashboard'|trans) } %}
                {% endif %}
                {# {% include "global/_user-isverified.html.twig" with { user: app.user } %} #}
                <div class="row">
                    <div class="col-md-9 {{ class is defined ? class : '' }}" data-aos="fade-up">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-md-3">
                        {{ render(controller(
                            'App\\Controller\\BlogController::blogSidebar',
                            { 'maxResults': 3 }
                        )) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{ include("global/_footer.html.twig") }}
{% endblock %}

