{% extends 'layouts/base.html.twig' %}

{% block layout %}{{ parent() }} page{% endblock %}

{% block body %}
    {{ include("global/_header.html.twig") }}
    <main id="main">
        {% block breadcrumb %}{% endblock %}
        <section class="section-content padding-y bg-white auth">
            <div class="container">
                <div class="row">
                    <aside class="col-md-3 pt-3 pt-lg-0">
                        {# {% include "dashboard/sidebar.html.twig" with { user: user } only %} #}
                        {% include "dashboard/sidebar.html.twig" %}
                    </aside>
                    <div class="col-md-9 mt-4 mt-lg-0" data-aos="fade-up">
                        {{ include("global/_is_granted.html.twig") }}
                        {# {% include "global/_user-isverified.html.twig" with { user: app.user } %} #}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <hr class="d-none d-dark-mode-block">
            <button class="d-lg-none btn btn-sm fs-6 btn-primary w-100 rounded-0 fixed-bottom" data-bs-toggle="offcanvas" data-bs-target="#sidebarAccount"><i class="bi bi-list me-2"></i>{{'action.account_menu'|trans}}</button>
        </section>
    </main>
    {{ include("global/_footer.html.twig") }}
{% endblock %}
