<div {{ attributes }}>
    <!-- =======================
    Inner intro START -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto text-center py-5">
                    <h2 class="display-5">{{'post.searched_results_for'|trans}}</h2>
                    <span class="lead">25 result found</span>
                    <!-- Search -->
                    <div class="row">
                        <div class="col-sm-8 col-md-6 col-lg-5 mx-auto">
                            <form class="input-group mt-4">
                                <input 
                                    class="form-control form-control-lg border-success" 
                                    type="search" 
                                    placeholder="{{'post.searched_for'|trans}}" 
                                    aria-label="{{'post.searched_action'|trans}}" 
                                    autocomplete="off" 
                                    data-model="query" 
                                    autofocus
                                >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Inner intro END -->

    <!-- =======================
    Main content START -->
    <section class="position-relative pt-0 pb-5">
        <div class="container">
            <div class="row">
                <!-- Main Post START -->
                {% if this.posts|length > 0 %}
                    <div class="col-lg-9 mx-auto">
                        {% for post in this.posts %}
                            {% include "global/_blog-searched-card.html.twig" with { post: post } only %} 
                            {# {{ component('blog_post', {'id': post.id}) }} #}
                        {% endfor %}
                        <!-- Load more -->
                        {# <button type="button" class="btn btn-primary-soft w-100">{{'action.load_more'|trans}} <i class="bi bi-arrow-down-circle ms-2 align-middle"></i></button> #}
                    </div>
                {% else %}
                    <div class="col-lg-9 mx-auto text-center py-5">
                        {% if query is not empty %}                            
                            <h2 class="display-5">{{ query }}</h2>
                            <span class="lead">{{'post.searched_no_results'|trans}}</span>
                        {% endif %}
                    </div>
                {% endif %}
                <!-- Main Post END -->
            </div>
            <!-- Row end -->
        </div>
    </section>
    <!-- =======================
    Main content END -->
</div>
