<div{{ attributes }}>
    <div>
        <h1>{{ post.title }}</h1>

        <hr>

        <div class="mb-3">
            <label for="post_title" class="form-label"><h2>Title</h2></label>
            <div class="input-group">
                <input
                    type="text"
                    data-model="post.title"
                    data-action="blur->live#update"
                    class="form-control"
                    value="{{ post.title }}"
                    id="post_title"
                >
            </div>
        </div>

        <div class="mb-3">
            <label for="post_content" class="form-label"><h2>Content</h2></label>
            <div class="input-group">
                <textarea
                    data-model="post.content"
                    data-action="live#update"
                    class="form-control"
                    id="post_content"
                >{{ post.content }}</textarea>
            </div>
        </div>
    </div>

    <div class="my-5 p-5 shadow bg-secondary text-light">
        <h3>{{ post.title }}</h3>
        {{ post.content }}
    </div>

    <div class="d-grid gap-2">
        <button
            data-action="live#action"
            data-action-name="save"
            class="btn btn-primary btn-sm"
        >
            Enregistrer les modifications
        </button>
    </div>

    {% if isSaved %}
        <div class="alert alert-success my-4">Enregistrer !</div>
    {% endif %}
</div>
