{% extends 'layouts/blog.html.twig' %}

{% set dataSticky = '767' %}

{% set pagetitle = post.title %}
{% block title pagetitle %}

{% block meta_dynamic_seo %}
    <meta name="description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    {% if post.tags %}
        <meta name="keywords" content="{{ post.name }}, {{ post.category.name }}, {% for tag in post.tags|split(',') %}{{ tag }}{{ not loop.last ? ', ' : '' }}{% endfor %}" />
    {% else %}
        <meta name="keywords" content="{{ getSetting("website_keywords_" ~ app.request.get('_locale')) }}" />
    {% endif %}
    <meta property="og:title" content="{{ post.title }}" />
    {#<meta property="og:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}"/>#}
    <meta property="og:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    <meta property="og:created_time" content="{{ post.createdAt|date('c') }}"/>
    <meta name="twitter:title" content="{{ post.title }}" />
    {#<meta name="twitter:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}" />#}
    <meta name="twitter:image:alt" content="{{ post.title }}" />
    <meta name="twitter:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
{% endblock %}

{% block intro %}
	{{ include("global/_intro.html.twig") }}
{% endblock %}

{% block content %}
	<article>{{ post.content|raw|nl2br }}</article>

	<!-- Previous & Next Post -->
	{% include "global/_previous-and-next-post.html.twig" with { previousPost: previousPost, nextPost: nextPost } only %}

	<div class="text-center my-3">
		<!-- Tag -->
		{% include "widget/post-tags-widget.html.twig" with { post: post, class: 'text-primary-hover mt-0 mt-lg-3'} only %}
	</div>

	<!-- Author -->
	{% include "global/_author.html.twig" with { post: post} only %}

	<div class="d-md-flex justify-content-between text-center text-md-start my-4">
		<!-- Info -->
		<ul class="list-inline mb-0">
			<li class="list-inline-item">
				<a class="btn btn-outline-light btn-sm" href="{{ path('blog_article_revision', {slug: post.slug}) }}">{{ 'action.fix'|trans }}</a>
			</li>
		</ul>
		<!-- Info -->
		<ul class="nav nav-divider align-items-center justify-content-center justify-content-md-end">
			<li class="nav-item"><a href="javascript:void(0);" class="btn-link"><i class="far fa-comment-alt me-1"></i> {{ 'post.num_comments'|trans({ 'count': comments|length }) }}</a></li>
			<li class="nav-item"><i class="far fa-eye me-1"></i> {{ post.views }} {{ "post.views"|trans }}</li>
		</ul>
	</div>

	<!-- Poll -->
	{% include "global/_poll.html.twig" %}

	<!-- Blog Comments Enabled -->
	{% set blog_comments_enabled = getSetting("blog_comments_enabled") %}
	{% if blog_comments_enabled != "no" %}
		<!-- Blog Comments Enabled Native -->
		{% if blog_comments_enabled == "native" %}
			<!-- Form Comment -->
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{{ render(controller('App\\Controller\\Frontend\\BlogCommentController::blogCommentForm', {'id': post.id})) }}
			{% else %}
				<div>
					<div class="mt-5">
						<a href="{{ path('auth_login', {'redirect_to': app.request.pathInfo}) }}" class="text-body fw-normal">
							<i class="bi bi-door-open"></i> {{ 'action.sign_in'|trans }}
						</a>
						<span>{{ 'post.to_publish_a_comment'|trans }}</span>
					</div>
				</div>
			{% endif %}
		<!-- Blog Comments Enabled Facebook -->
		{% elseif blog_comments_enabled == "facebook" and getSetting("facebook_app_id") %}
			<div id="fb-root"></div>
			<script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ app.request.locale|lower~'_'~app.request.locale|upper }}/sdk.js#xfbml=1&version=v4.0&appId={{ getSetting("facebook_app_id") }}&autoLogAppEvents=1"></script>
			<div class="fb-comments" data-href="{{ app.request.uri }}" data-width="100%" data-numposts="5"></div>
		<!-- Blog Comments Enabled Disqus -->
		{% elseif blog_comments_enabled == "disqus" and getSetting("disqus_subdomain") %}
			<div id="disqus_thread"></div>
			<script>
				/**
				 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				var disqus_config = function () {
					this.page.url = "{{ app.request.uri }}";  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = "{{ post.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					this.language = "{{ app.request.locale|lower }}";
				};
				(function () { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://{{ getSetting("disqus_subdomain") }}.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		{% endif %}
	{% endif %}

	<!-- Form Comment -->
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<turbo-frame id="new-comment-form">
			{{ render(controller('App\\Controller\\Frontend\\BlogCommentController::blogCommentForm', {'id': post.id})) }}
		</turbo-frame>
	{% else %}
		<div>
			<div class="mt-5">
				<a href="{{ path('auth_login', {'redirect_to': app.request.pathInfo}) }}" class="text-body fw-normal">
					<i class="bi bi-door-open"></i> {{ 'action.sign_in'|trans }}
				</a>
				<span>{{ 'post.to_publish_a_comment'|trans }}</span>
			</div>
		</div>
	{% endif %}

	<!-- List Comments -->
	{# {% include "comment/comments.html.twig" with { comments: comments } only %} #}
	{# <turbo-stream action="append" target="comment-list">
		{# <template> #}
			<div class="my-4" data-controller="comments" data-post-id="{{ post.id }}">
				<h3>{{ 'post.num_comments'|trans({ 'count': comments|length }) }}</h3>

				{# Display of the average of the given marks #}
				<div class="bg-light border p-3 rounded text-center my-4">
					<h5 class="m-0">
						<div class="row align-items-center justify-content-between">
							<div class="col-md-8">
								{{ "comment.overall_rating"|trans }}
							</div>
							<div class="col-md-4">
								{% include 'global/_rating.html.twig' with {'rating' : post.avgRatings, class: 'py-2 d-block'} %}
								<small class="my-2 d-block">{{ 'comment.num_comments'|trans({ 'count': comments|length})|raw  }}</small>
							</div>
						</div>
					</h5>
				</div>

				<template data-comments-target="template">
					<div class="my-4 d-flex" id="c{{ post.id }}">
						<img src="${author.avatar}" class="avatar avatar-md rounded-circle float-start me-3" alt="${author.nickname}">
						<div>
							<div class="mb-2">
								<h5 class="m-0">${author.nickname}</h5>
								<span class="me-3 small">
									${publishedAt}
								</span>
								{% if is_granted('ROLE_USER') %}
									<a href="#add-comment" class="text-body fw-normal" data-reply data-post-id="{{ post.id }}">{{ 'post.comment_reply'|trans }}</a>
								{% endif %}
							</div>
							<p>${content}</p>
						</div>
					</div>
				</template>
				<div data-comments-target="list"></div>
				<!-- Load more START -->
				<div class="d-flex justify-content-center mt-3">
					<button type="submit" class="btn btn-primary-soft" data-action="comments#next" data-comments-target="loadMore">
						{{ "action.load_more"|trans }}
						<i class="bi bi-arrow-down-circle ms-2 align-middle"></i>
					</button>
				</div>
				<!-- Load more END -->
			</div>
		{# </template> #}
	{# </turbo-stream> #}
{% endblock %}

{% block similarposts %}
	<!-- Divider -->
	<div class="container"><div class="border-bottom border-primary border-2 opacity-1"></div></div>

	<!-- =======================
	Section START -->
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Title -->
					<div class="mb-4 d-md-flex justify-content-between align-items-center">
						<h2 class="m-0"><i class="bi bi-megaphone"></i> {{ "label.related_posts"|trans }}</h2>
						<a href="#" class="text-body small"><u>Content by: Bootstrap</u></a>
					</div>
					<div class="tiny-slider arrow-hover arrow-blur arrow-dark arrow-round">
						<div class="tiny-slider-inner"
							data-autoplay="true"
							data-hoverpause="true"
							data-gutter="24"
							data-arrow="true"
							data-dots="false"
							data-items-xl="4" 
							data-items-md="3" 
							data-items-sm="2" 
							data-items-xs="1">

							{% for similar in similars %}
								{% include "global/_blog-similar-card.html.twig" with { post: similar, showdate: 1 } %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Section END -->
{% endblock %}
