<footer id="footer" class="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row g-5">
				<div class="col-lg-4">
					<h3 class="footer-heading">{{'About'|trans}} {{ getSetting("website_name") }}</h3>
					<p>{{ getSetting("footer_about") }}</p>
					<p>
						<a href="{#{{ path('about_index') }}#}" class="footer-link-more">{{'Learn More'|trans}}</a>
					</p>
				</div>
				<div class="col-6 col-lg-2">
					<h3 class="footer-heading">{{'Navigation'|trans}}</h3>
					<ul class="footer-links list-unstyled">
						<li>
							<a href="{{ path('blog_index') }}">
								<i class="bi bi-chevron-right"></i>
								{{ "Blog"|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('category_index') }}">
								<i class="bi bi-chevron-right"></i>
								{{'Categories'|trans}}
							</a>
						</li>
						<li>
							<a href="single-post.html">
								<i class="bi bi-chevron-right"></i>
								{{'Single Post'|trans}}
							</a>
						</li>
						<li>
							<a href="{#{{ path('login', {redirect: app.request.pathInfo}) }}) }}#}">
								<i class="bi bi-chevron-right"></i>
								{{'Member area'|trans}}
							</a>
						</li>
						<li>
							<a href="{{ path('about_index') }}">
								<i class="bi bi-chevron-right"></i>
								{{'About us'|trans}}
							</a>
						</li>
						<li>
							<a href="{{ path('contact_index') }}">
								<i class="bi bi-chevron-right"></i>
								{{'Contact us'|trans}}
							</a>
						</li>
					</ul>
				</div>
				<div class="col-6 col-lg-2">
					{% if blogCategory()|length > 0 %}
						<h3 class="footer-heading">{{'Categories'|trans}}</h3>
						<ul class="footer-links list-unstyled">
							{% include "blog/partials/_categories.html.twig" with { category: blogCategory()} only %}
						</ul>
					{% endif %}
				</div>
				<div class="col-lg-4">
					<h3 class="footer-heading">{{'Recent Posts'|trans}}</h3>
					<ul class="footer-links footer-blog-entry list-unstyled">
						<li>
							<a href="single-post.html" class="d-flex align-items-center">
								<img src="assets/img/post-sq-1.jpg" alt="" class="img-fluid me-3">
								<div>
									<div class="post-meta d-block">
										<span class="date">Culture</span>
										<span class="mx-1">&bullet;</span>
										<span>Jul 5th '22</span>
									</div>
									<span>5 Great Startup Tips for Female Founders</span>
								</div>
							</a>
						</li>
						<li>
							<a href="single-post.html" class="d-flex align-items-center">
								<img src="assets/img/post-sq-2.jpg" alt="" class="img-fluid me-3">
								<div>
									<div class="post-meta d-block">
										<span class="date">Culture</span>
										<span class="mx-1">&bullet;</span>
										<span>Jul 5th '22</span>
									</div>
									<span>What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</span>
								</div>
							</a>
						</li>
						<li>
							<a href="single-post.html" class="d-flex align-items-center">
								<img src="assets/img/post-sq-3.jpg" alt="" class="img-fluid me-3">
								<div>
									<div class="post-meta d-block">
										<span class="date">Culture</span>
										<span class="mx-1">&bullet;</span>
										<span>Jul 5th '22</span>
									</div>
									<span>Life Insurance And Pregnancy: A Working Mom’s Guide</span>
								</div>
							</a>
						</li>
						<li>
							<a href="single-post.html" class="d-flex align-items-center">
								<img src="assets/img/post-sq-4.jpg" alt="" class="img-fluid me-3">
								<div>
									<div class="post-meta d-block">
										<span class="date">Culture</span>
										<span class="mx-1">&bullet;</span>
										<span>Jul 5th '22</span>
									</div>
									<span>How to Avoid Distraction and Stay Focused During Video Calls?</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-legal">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
					<div class="copyright">
						{{"Copyright"|trans}} &copy; {{ "now"|date('Y') }}
						<strong>
							<span>{{ getSetting("website_name") }}</span>
						</strong>. {{'All Rights Reserved'|trans}}
					</div>
					<div class="credits">
						{{'Designed by'|trans}}<a href="{{ getSetting("website_url") }}"> {{ getSetting("website_name") }}</a>
					</div>
				</div>
				<div class="col-md-6">
					{% if getSetting("facebook_url") != "" or getSetting("instagram_url") != "" or getSetting("youtube_url") != "" or getSetting("twitter_url") != "" %}
						<div class="social-links mb-3 mb-lg-0 text-center text-md-end">
							{% if getSetting("twitter_url") != "" %}
								<a href="{{ getSetting("twitter_url") }}" class="twitter">
									<i class="bi bi-twitter"></i>
								</a>
							{% endif %}
							{% if getSetting("facebook_url") != "" %}
								<a href="{{ getSetting("facebook_url") }}" class="facebook">
									<i class="bi bi-facebook"></i>
								</a>
							{% endif %}
							{% if getSetting("instagram_url") != "" %}
								<a href="{{ getSetting("instagram_url") }}" class="instagram">
									<i class="bi bi-instagram"></i>
								</a>
							{% endif %}
							{% if getSetting("youtube_url") != "" %}
								<a href="{{ getSetting("youtube_url") }}" class="youtube">
									<i class="bi bi-youtube"></i>
								</a>
							{% endif %}
							{% if getSetting("linkedin_url") != "" %}
								<a href="{{ getSetting("linkedin_url") }}" class="linkedin">
									<i class="bi bi-linkedin"></i>
								</a>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</footer>

{% if getSetting("show_back_to_top_button") == "yes" %}
	<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endif %}
