<div {{ attributes }}>
    {{ form_start(form) }}
        <!-- Email -->
        <div class="mb-3">
            {{ form_row(form.email) }}
        </div>
        <!-- Nickname -->
        <div class="mb-3">
            {{ form_row(form.nickname) }}
        </div>
        <!-- Password -->
        <div class="mb-3">
            {{ form_row(form.plainPassword) }}
        </div>
        <!-- Button -->
        <div class="row align-items-center">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">{{ 'action.sign_me_up'|trans }}</button>
            </div>
            <div class="col-sm-8 text-sm-end">
                {% if '1' == getSetting('users_can_register') %}
                    <span>
                        {{ 'action.already_registered'|trans }} 
                        <a href="{{ path('auth_login') }}">
                            <u>{{ 'action.sign_in'|trans }}</u>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
    {{ form_end(form) }}
</div>
