<div {{ attributes }}>
    {{ form_start(form) }}
        <!-- User -->
        <div class="mb-3">
            {{ form_row(form.user) }}
        </div>
        <!-- Button -->
        <div class="row align-items-center">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">{{ 'action.reset'|trans }}</button>
            </div>
            <div class="col-sm-8 text-sm-end">
                {% if '1' == getSetting('users_can_register') %}
                    <span>
                        {{ 'action.no_account_yet'|trans }} 
                        <a href="{{ path('auth_registration') }}">
                            <u>{{ 'action.sign_up'|trans }}</u>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
    {{ form_end(form) }}
</div>
