<div {{ attributes }}>
    {{ form_start(form) }}
        <!-- Current Password -->
        <div class="mb-3">
            {{ form_row(form.currentPassword) }}
        </div>
        <!-- Password -->
        <div class="mb-3">
            {{ form_row(form.plainPassword) }}
        </div>
        <!-- Button -->
        <div class="row align-items-center">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">{{ 'action.edit'|trans }}</button>
            </div>
            <div class="col-sm-8 text-sm-end"></div>
        </div>
    {{ form_end(form) }}
</div>