{% extends 'layouts/base.html.twig' %}

{% set pagetitle = post.title %}
{% block title pagetitle %}

{% block meta_dynamic_seo %}
    <meta name="description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    {% if post.tags %}
        <meta name="keywords" content="{{ post.name }}, {{ post.category.name }}, {% for tag in post.tags|split(',') %}{{ tag }}{{ not loop.last ? ', ' : '' }}{% endfor %}" />
    {% else %}
        <meta name="keywords" content="{{ getSetting("website_keywords_" ~ app.request.get('_locale')) }}" />
    {% endif %}
    <meta property="og:title" content="{{ post.title }}" />
    {#<meta property="og:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}"/>#}
    <meta property="og:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    <meta property="og:created_time" content="{{ post.createdAt|date('c') }}"/>
    <meta name="twitter:title" content="{{ post.title }}" />
    {#<meta name="twitter:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}" />#}
    <meta name="twitter:image:alt" content="{{ post.title }}" />
    <meta name="twitter:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
{% endblock %}

{% block body %}
	<section class="single-post-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9 post-content" data-aos="fade-up">
					<!-- ======= Single Post Content ======= -->
					<div class="single-post">
						<div class="post-meta">
							<span class="date">{{ post.category.name }}</span>
							<span class="mx-1">&bullet;</span>
							<span>{{ "Published"|trans }} {{ post.publishedAt|ago }}</span>
							<span class="mx-1">&bullet;</span>
							{% if post.readtime %}
								<span>{{ post.readtime }} {{ "min read"|trans }}</span>
							{% endif %}
							<span class="mx-1">&bullet;</span>
							<span>{{ post.views }}<i class="bi bi-eye fs-lg ms-1"></i></span>
							<span class="mx-1">&bullet;</span>
							<span> <i class="bi bi-comment fs-lg ms-1"></i></span>
						</div>
						<h1 class="mb-5">{{ pagetitle }}</h1>
						{{ post.content|raw }}
					</div>
					<!-- End Single Post Content -->

					<!-- ======= Comments ======= -->
					{% include "comment/comments.html.twig" %}
					<!-- End Comments -->

					<!-- ======= Comments Form ======= -->
					{% include "comment/form.html.twig" %}
					<!-- End Comments Form -->

				</div>
				<div class="col-md-3">
					{% include "blog/partials/_sidebar.html.twig" %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
