{% extends 'layouts/blog.html.twig' %}

{% set sectionClass = 'single-post-content' %}
{% set class = 'post-content' %}

{% set pagetitle = post.title %}
{% block title pagetitle %}

{% block meta_dynamic_seo %}
    <meta name="description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    {% if post.tags %}
        <meta name="keywords" content="{{ post.name }}, {{ post.category.name }}, {% for tag in post.tags|split(',') %}{{ tag }}{{ not loop.last ? ', ' : '' }}{% endfor %}" />
    {% else %}
        <meta name="keywords" content="{{ getSetting("website_keywords_" ~ app.request.get('_locale')) }}" />
    {% endif %}
    <meta property="og:title" content="{{ post.title }}" />
    {#<meta property="og:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}"/>#}
    <meta property="og:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    <meta property="og:created_time" content="{{ post.createdAt|date('c') }}"/>
    <meta name="twitter:title" content="{{ post.title }}" />
    {#<meta name="twitter:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}" />#}
    <meta name="twitter:image:alt" content="{{ post.title }}" />
    <meta name="twitter:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
{% endblock %}

{% block content %}
	<!-- ======= Single Post Content ======= -->
	<div class="single-post">
		<div class="post-meta">
			<span class="date">{{ post.category.name }}</span>
			<span class="mx-1">&bullet;</span>
			<span>{{ "published"|trans }} {{ post.publishedAt|ago }}</span>
			<span class="mx-1">&bullet;</span>
			{% if post.readtime %}
				<span>{{ post.readtime }} {{ "post.min_read"|trans }}</span>
			{% endif %}
			<span class="mx-1">&bullet;</span>
			<span>{{ post.views }}<i class="bi bi-eye fs-lg ms-1"></i></span>
			<span class="mx-1">&bullet;</span>
			<span>{{ post.comments|length }}<i class="bi bi-chat-left fs-lg ms-1"></i></span>
		</div>
		<h1 class="mb-5">{{ pagetitle }}</h1>
		{{ post.content|raw }}
		{{ include('blog/partials/_post_tags.html.twig') }}

		<hr>

		<div class="navigation-top">
			<div class="d-sm-flex justify-content-between text-center">
				<p class="like-info">
					<span class="align-middle"><i class="bi bi-heart"></i></span> 
					Lily and 4 people like this
				</p>
				<div class="col-sm-4 text-center my-2 my-sm-0">
					<p class="comment-count">
						<span class="align-middle"><i class="bi bi-chat-left-text"></i></span> 
						{{ 'post.num_comments'|trans({ 'count': post.comments|length }) }}
					</p>
				</div>
				<ul class="social-icons">
					<li>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('blog_show', {slug: post.slug})) }}"><i class="bi bi-facebook"></i></a>
					</li>
					<li>
						<a target="_blank" href="https://twitter.com/intent/tweet?text={{ post.title|url_encode }}%20{{ absolute_url(path('blog_show', {slug: post.slug})) }}%20@{{ getSetting("website_name") }}"><i class="bi bi-twitter"></i></a>
					</li>
					<li>
						<a target="_blank" href="{{ path('blog_show_share', {slug: post.slug}) }}"><i class="bi bi-telegram"></i></a>
					</li>
				</ul>
			</div>
			<div class="navigation-area">
				<div class="row">
					<!-- ======= Previous Post ======= -->
					{% if previousPost %}
						<div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
							<div class="thumb">
								<a href="{{ path('blog_show', { slug: previousPost.slug }) }}">
									<img class="img-fluid" src="{{ asset('uploads/post/' ~ previousPost.image) }}" alt="">
								</a>
							</div>
							<div class="arrow">
								<a href="{{ path('blog_show', { slug: previousPost.slug }) }}">
									<span class="lnr text-white bi bi-arrow-left"></span>
								</a>
							</div>
							<div class="detials">
								<p>{{ "post.previous_post"|trans }}</p>
								<a href="{{ path('blog_show', { slug: previousPost.slug }) }}">
									<h4>{{ previousPost.title }}</h4>
								</a>
							</div>
						</div>
					{% endif %}
					<!-- End Previous Post -->

					<!-- ======= Next Post ======= -->
					{% if nextPost %}
						<div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
							<div class="detials">
								<p>{{ "post.next_post"|trans }}</p>
								<a href="{{ path('blog_show', { slug: nextPost.slug }) }}">
									<h4>{{ nextPost.title }}</h4>
								</a>
							</div>
							<div class="arrow">
								<a href="{{ path('blog_show', { slug: nextPost.slug }) }}">
									<span class="lnr text-white bi bi-arrow-right"></span>
								</a>
							</div>
							<div class="thumb">
								<a href="{{ path('blog_show', { slug: nextPost.slug }) }}">
									<img class="img-fluid" src="{{ asset('uploads/post/' ~ nextPost.image) }}" alt="">
								</a>
							</div>
						</div>
					{% endif %}
					<!-- End Next Post -->
				</div>
			</div>
		</div>

		{#
		<!-- ======= Previous Post ======= -->
		{% if previousPost %}
			<a href="{{ path('blog_show', { slug: previousPost.slug }) }}">{{ "post.previous_post"|trans }}</a>
		{% endif %}
		<!-- End Previous Post -->

		<!-- ======= Next Post ======= -->
		{% if nextPost %}
			<a href="{{ path('blog_show', { slug: nextPost.slug }) }}">{{ "post.next_post"|trans }}</a>
		{% endif %}
		<!-- End Next Post -->
		#}
	</div>
	<!-- End Single Post Content -->

	<!-- ======= Comments ======= -->
	{% include "comment/comments.html.twig" with { comments: post.comments } only %}
	<!-- End Comments -->

	<!-- ======= Comments Form ======= -->
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{{ render(controller('App\\Controller\\BlogController::blogCommentForm', {'id': post.id})) }}
	{% else %}
		<p>
			<a href="{{ path('auth_login', {'redirect_to': app.request.pathInfo}) }}">
				<i class="bi bi-door-open"></i> {{ 'action.sign_in'|trans }}
			</a>
			{{ 'post.to_publish_a_comment'|trans }}
		</p>
	{% endif %}
	<!-- End Comments Form -->
{% endblock %}
