<div>
    <h3>{{'title.add_comment'|trans}}</h3>
    <small>{{ 'message.add_comment'|trans }}</small>
    {{ form_start(commentForm, {method: 'POST', action: path('blog_comment_create', {'slug': post.slug}), attr: {class: 'row g-3 mt-2'}}) }}
        {{ form_errors(commentForm) }}
        <div class="col-12">
            {{ form_row(commentForm.rating) }}
        </div>
        <div class="col-12">
            {{ form_row(commentForm.content) }}
        </div>
        <div class="col-12">
            {{ form_row(commentForm.isRGPD) }}
        </div>
        <div class="col-12">
            {#<button type="submit" class="btn btn-primary" formnovalidate>{{ 'action.publish_comment'|trans }}</button>#}
            {{ form_row(commentForm.save) }}
        </div>
    {{ form_end(commentForm) }}
</div>
