{% extends 'layouts/dashboard.html.twig' %}

{% set pagetitle = 'title.administrator_page_index'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{"dashboard_index": ('title.dashboard'|trans), "current": (pagetitle)}] %}
	{% include "global/_breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <!-- Blog list table START -->
            <div class="card border bg-transparent rounded-3">
                <!-- Card header START -->
                <div class="card-header bg-transparent border-bottom p-3">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <h5 class="mb-2 mb-sm-0">Blog list
                            <span class="badge bg-primary bg-opacity-10 text-primary">105</span>
                        </h5>
                        <a href="#" class="btn btn-sm btn-primary mb-0">Add New</a>
                    </div>
                </div>
                <!-- Card header END -->

                <!-- Card body START -->
                <div class="card-body">

                    <!-- Search and select START -->
                    <div class="row g-3 align-items-center justify-content-between mb-3">
                        <!-- Search -->
                        <div class="col-md-8">
                            <form class="rounded position-relative">
                                <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
                                    <i class="fas fa-search fs-6 "></i>
                                </button>
                            </form>
                        </div>

                        <!-- Select option -->
                        <div class="col-md-3">
                            <!-- Short by filter -->
                            <form>
                                <select class="form-select z-index-9 bg-transparent" aria-label=".form-select-sm">
                                    <option value="">Sort by</option>
                                    <option>Free</option>
                                    <option>Newest</option>
                                    <option>Oldest</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <!-- Search and select END -->

                    <!-- Blog list table START -->
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                            <!-- Table head -->
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">Blog Name</th>
                                    <th scope="col" class="border-0">Author Name</th>
                                    <th scope="col" class="border-0">Published Date</th>
                                    <th scope="col" class="border-0">Categories</th>
                                    <th scope="col" class="border-0">Status</th>
                                    <th scope="col" class="border-0 rounded-end">Action</th>
                                </tr>
                            </thead>

                            <!-- Table body START -->
                            <tbody
                                class="border-top-0">
                                <!-- Table item -->
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="course-title mt-2 mt-md-0 mb-0">
                                            <a href="#">12 worst types of business accounts you follow on Twitter</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="mb-0">
                                            <a href="#">Lori Stevens</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>Jan 22, 2022</td>
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="badge text-bg-warning mb-2">
                                            <i class="fas fa-circle me-2 small fw-bold"></i>Technology</a>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <span class="badge bg-success bg-opacity-10 text-success mb-2">Live</span>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Table item -->
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="course-title mt-2 mt-md-0 mb-0">
                                            <a href="#">Dirty little secrets about the business industry</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="mb-0">
                                            <a href="#">Dennis Barrett</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>Jan 19, 2022</td>
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="badge text-bg-info mb-2">
                                            <i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <span class="badge bg-warning bg-opacity-15 text-warning mb-2">Draft</span>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Table item -->
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="course-title mt-2 mt-md-0 mb-0">
                                            <a href="#">7 common mistakes everyone makes while traveling</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="mb-0">
                                            <a href="#">Billy Vasquez</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>Nov 11, 2022</td>
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="badge text-bg-danger mb-2">
                                            <i class="fas fa-circle me-2 small fw-bold"></i>Photography</a>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <span class="badge bg-success bg-opacity-10 text-success mb-2">Live</span>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Table item -->
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="course-title mt-2 mt-md-0 mb-0">
                                            <a href="#">5 investment doubts you should clarify</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="mb-0">
                                            <a href="#">Lori Stevens</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>Jan 22, 2022</td>
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="badge text-bg-success mb-2">
                                            <i class="fas fa-circle me-2 small fw-bold"></i>Gadgets</a>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <span class="badge bg-success bg-opacity-10 text-success mb-2">Live</span>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Table item -->
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="course-title mt-2 mt-md-0 mb-0">
                                            <a href="#">Bad habits that people in the industry need to quit</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="mb-0">
                                            <a href="#">Larry Lawson</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>Dec 06, 2022</td>
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="badge bg-primary mb-2">
                                            <i class="fas fa-circle me-2 small fw-bold"></i>Sports</a>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <span class="badge bg-danger bg-opacity-10 text-danger mb-2">Removed</span>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Table item -->
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="course-title mt-2 mt-md-0 mb-0">
                                            <a href="#">Around the web: 20 fabulous infographics about business</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="mb-0">
                                            <a href="#">Bryan Knight</a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>Feb 14, 2022</td>
                                    <!-- Table data -->
                                    <td>
                                        <a href="#" class="badge text-bg-danger mb-2">
                                            <i class="fas fa-circle me-2 small fw-bold"></i>Travel</a>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <span class="badge bg-success bg-opacity-10 text-success mb-2">Live</span>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a href="#" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                            <a href="dashboard-post-edit.html" class="btn btn-light btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                            <!-- Table body END -->
                        </table>
                    </div>
                    <!-- Blog list table END -->

                    <!-- Pagination START -->
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
                        <!-- Content -->
                        <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                        <!-- Pagination -->
                        <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                            <ul class="pagination pagination-sm pagination-bordered mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">..</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">15</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination END -->
                </div>
            </div>
            <!-- Blog list table END -->
        </div>
	</div>

    {#
    <div class="box shadow-none bg-gray mb-4">
        <div class="row">
            <div class="col-sm-12 col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
                <span class="center-lg-y text-center text-muted">
                    {{ 'resultsCount'|trans({ 'count': pages.getTotalItemCount }) }}
                </span>
            </div>

            <div class="col-sm-12 col-lg-6 text-center text-lg-end">
                <a href="{{ path('dashboard_administrator_page_add') }}" class="btn btn-primary ms-3" data-bs-toggle="tooltip" title="{{'action.create'|trans}}"><i class="bi bi-plus"></i></a>
            </div>
        </div>
    </div>
    #}

    <div class="row pb-4">
        <div class="col-12">
            <div class="d-sm-flex justify-content-sm-between align-items-center">
                <h1 class="mb-2 mb-sm-0 h6">
                    {{ 'resultsCount'|trans({ 'count': pages.getTotalItemCount }) }}
                </h1>			
                <a href="{{ path('dashboard_administrator_page_add') }}" class="btn btn-sm btn-primary mb-0"><i class="bi bi-plus me-2"></i>{{'action.create'|trans}}</a>
            </div>
        </div>
    </div>

    {% if pages.getTotalItemCount > 0 %}
        <div class="row g-4">
            <div class="col-12">
                <div class="card border bg-transparent rounded-3">
                    <div class="card-body py-3">
                        <div class="table-responsive border-0">
                            <table class="table p-4 mb-0 table-shrink">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col" class="border-0 rounded-start">{{ 'label.title'|trans }}</th>
                                        <th scope="col" class="border-0">{{ 'label.slug'|trans }}</th>
                                        <th scope="col" class="border-0">{{ 'label.link'|trans }}</th>
                                        <th scope="col" class="border-0 rounded-end text-center"><i class="bi bi-gear"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="border-top-0">
                                    {% for page in pages %}
                                        <tr>
                                            <td>
                                                {{ page.title }}
                                            </td>
                                            <td>
                                                {{ page.slug }}
                                            </td>
                                            <td>
                                                <a href="{{ path('page', { slug : page.slug }) }}" target="_blank">{{ path('page', { slug : page.slug }) }}</a>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0);" class="btn btn-light btn-round mb-0" role="button" id="dropdownAction" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="bi bi-three-dots fa-fw"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownAction">
                                                        <li>
                                                            <a class="dropdown-item" href="{{ path('dashboard_administrator_page_edit', { slug : page.slug }) }}">
                                                                <i class="bi bi-pencil-square fa-fw me-2"></i>
                                                                {{ 'action.edit'|trans }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item text-danger requires-confirmation" data-target="" href="{{ path('dashboard_administrator_page_delete', { slug : page.slug }) }}" data-confirmation-text="{{ "action.delete_page_confirmation"|trans }}">
                                                                <i class="bi bi-trash fa-fw me-2"></i>
                                                                {{ "action.deletedAt"|trans }}
                                                            </a>
                                                        </li>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {{ knp_pagination_render(pages, null, {}, {'align': 'center'}) }}
            </div>
        </div>
    {% else %}
        {% include "global/_message.html.twig" with { type: "info", message: ('page.no_pages_found'|trans), icon: "bi bi-exclamation-circle" } %}
    {% endif %}
{% endblock %}
