{% extends 'layouts/blog.html.twig' %}

{% set pagetitle = post.title %}
{% block title pagetitle %}

{% block meta_dynamic_seo %}
    <meta name="description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    {% if post.tags %}
        <meta name="keywords" content="{{ post.name }}, {{ post.category.name }}, {% for tag in post.tags|split(',') %}{{ tag }}{{ not loop.last ? ', ' : '' }}{% endfor %}" />
    {% else %}
        <meta name="keywords" content="{{ getSetting("website_keywords_" ~ app.request.get('_locale')) }}" />
    {% endif %}
    <meta property="og:title" content="{{ post.title }}" />
    {#<meta property="og:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}"/>#}
    <meta property="og:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
    <meta property="og:created_time" content="{{ post.createdAt|date('c') }}"/>
    <meta name="twitter:title" content="{{ post.title }}" />
    {#<meta name="twitter:image" content="{{ app.request.getUriForPath(urlrawImage(post.image)) }}" />#}
    <meta name="twitter:image:alt" content="{{ post.title }}" />
    <meta name="twitter:description" content="{{ post.content|raw|nl2br|striptags|slice(0, 200)|raw }}..." />
{% endblock %}

{% block intro %}
	{{ include("global/_intro.html.twig") }}
{% endblock %}

{% block content %}
	<article>{{ post.content|raw|nl2br }}</article>

	<!-- Previous & Next Post -->
	{% include "global/_previous-and-next-post.html.twig" with { previousPost: previousPost, nextPost: nextPost } only %}

	<!-- Author -->
	{% include "global/_author.html.twig" with { post: post} only %}

	<div class="d-md-flex justify-content-between text-center text-md-start my-4">
		<!-- Tag -->
		{% include "post/partials/_post_tags.html.twig" with { post: post} only %}
		<!-- Info -->
		<ul class="nav nav-divider align-items-center justify-content-center justify-content-md-end">
			<li class="nav-item"><a href="javascript:void(0);" class="btn-link"><i class="far fa-comment-alt me-1"></i> {{ 'post.num_comments'|trans({ 'count': post.comments|length }) }}</a></li>
			<li class="nav-item"><i class="far fa-eye me-1"></i> {{ post.views }} {{ "post.views"|trans }}</li>
			<li class="nav-item"><a href="#"><i class="fas fa-heart me-1 text-danger"></i></a> 266</li>
		</ul>
	</div>

	<!-- Poll -->
	{% include "global/_poll.html.twig" %}

	<!-- List Comments -->
	{% include "comment/comments.html.twig" with { comments: comments } only %}

	<!-- Blog Comments Enabled -->
	{% set blog_comments_enabled = getSetting("blog_comments_enabled") %}
	{% if blog_comments_enabled != "no" %}
		<!-- Blog Comments Enabled Native -->
		{% if blog_comments_enabled == "native" %}
			<!-- Form Comment -->
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{{ render(controller('App\\Controller\\BlogCommentController::blogCommentForm', {'id': post.id})) }}
			{% else %}
				<div>
					<div class="mt-5">
						<a href="{{ path('auth_login', {'redirect_to': app.request.pathInfo}) }}" class="text-body fw-normal">
							<i class="bi bi-door-open"></i> {{ 'action.sign_in'|trans }}
						</a>
						<span>{{ 'post.to_publish_a_comment'|trans }}</span>
					</div>
				</div>
			{% endif %}
		<!-- Blog Comments Enabled Facebook -->
		{% elseif blog_comments_enabled == "facebook" and getSetting("facebook_app_id") %}
			<div id="fb-root"></div>
			<script async defer crossorigin="anonymous" src="https://connect.facebook.net/{{ app.request.locale|lower~'_'~app.request.locale|upper }}/sdk.js#xfbml=1&version=v4.0&appId={{ getSetting("facebook_app_id") }}&autoLogAppEvents=1"></script>
			<div class="fb-comments" data-href="{{ app.request.uri }}" data-width="100%" data-numposts="5"></div>
		<!-- Blog Comments Enabled Disqus -->
		{% elseif blog_comments_enabled == "disqus" and getSetting("disqus_subdomain") %}
			<div id="disqus_thread"></div>
			<script>
				/**
				 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				var disqus_config = function () {
					this.page.url = "{{ app.request.uri }}";  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = "{{ post.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					this.language = "{{ app.request.locale|lower }}";
				};
				(function () { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://{{ getSetting("disqus_subdomain") }}.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		{% endif %}
	{% endif %}

{% endblock %}

{% block similarposts %}
	{% set similars = getPosts({limit: 8, category: post.category.slug, otherthan: post.id}).getQuery().getResult() %}
	{% if similars|length %}
		<div class="row">
			<div class="col-12">
				<h3 class="mt-5 mb-4 text-center">{{ "Related posts"|trans }}</h3>
				<div class="owl-init owl-carousel" data-margin="15" data-items="4" data-dots="false" data-nav="true" data-autoplay="false">
					{% for similar in similars %}
						{% include "global/_blog-card.html.twig" with { post: similar } %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
