<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
        <title>{{ 'rss.title'|trans({ 'website_name': getSetting("website_name") }) }}</title>
        <description>{{ 'rss.description'|trans({ 'website_name': getSetting("website_name") }) }}</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <lastBuildDate>{{ (items|last).publishedAt|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
        <link>{{ url('blog') }}</link>
        <language>{{ app.request.locale }}</language>

		{% for item in items %}
			<item>
				<title>{{ item.title }}</title>
				<link>{{ url(item) }}</link>
				<guid>{{ url(item) }}</guid>
				<description>{{ item.excerpt }}</description>
                <pubDate>{{ item.publishedAt|date(format='r', timezone='GMT') }}</pubDate>
                <author>{{ item.author.email }}</author>
                {% for tag in item.tags %}
                    <category>{{ tag.name }}</category>
                {% endfor %}
			</item>
		{% endfor %}
	</channel>
</rss>
