{% component navbar %}
    {% block brand %}
        <h1>{{ getSetting("website_name") }}</h1>
    {% endblock %}

    {% block nav %}
        {{ component('nav_item', {label: 'Blog', route: 'blog_index'}) }}
        {% if blogCategory()|length > 0 %}
            <li class="dropdown">
                <a href="javascript:void;">
                    <span>{{'Categories'|trans}}</span>
                    <i class="bi bi-chevron-down dropdown-indicator"></i>
                </a>
                <ul>
                    {% for category in blogCategory() %}
                        <li>
                            <a href="{{ path('category_show', {slug: category.slug}) }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {{ component('nav_item', {label: 'About us', route: 'about_index'}) }}
        {{ component('nav_item', {label: 'Contact us', route: 'contact_index'}) }}
        {% if is_granted('ROLE_USER') %}
            {#{{ component('nav_item', {label: 'Add post', route: 'post_create'}) }} #}
            {% component dropdown with {class: '', tag: 'li', toggle: 'a', toggleClass: ''} %}
                {% block toggle %}
                    {% if app.user.avatar is null %}
                        <span class="fas fa-circle-user fa-xl"></span>
                    {% else %}
                        <img src="{{ asset('uploads/user/' ~ app.user.avatar) }}" class="user-avatar" alt="{{ app.user.nickname }}">
                    {% endif %}
                    <i class="bi bi-chevron-down dropdown-indicator"></i>
                {% endblock %}

                {% block items %}
                    {{ component('dropdown_item', {label: 'Profile', route: 'profile_update_profile'}) }}
                    {{ component('dropdown_item', {label: 'Avatar', route: 'profile_update_avatar'}) }}
                    {{ component('dropdown_item', {label: 'Password', route: 'profile_update_password'}) }}
                    {{ component('dropdown_item', {label: 'Sign out', route: 'auth_logout'}) }}
                {% endblock %}
            {% endcomponent %}
        {% else %}
            {{ component('nav_item', {label: 'Sign in', route: 'auth_login'}) }}
            {{ component('nav_item', {label: 'Sign up', route: 'auth_registration'}) }}
        {% endif %}
    {% endblock %}
{% endcomponent %}
