{% extends 'layouts/auth.html.twig' %}

{% set pagetitle = 'title.sign_in'|trans %}
{% block title pagetitle %}

{% block content %}
    <h2>{{ 'title.please_sign_in'|trans }}</h2>
    <span>{{ 'title.welcome'|trans({ 'website_name': getSetting("website_name") }) }} 👋</span>
    <!-- Form START -->
    <form class="mt-4" action="{{ path('auth_login') }}" method="post">
        {% if error %}
            {% component alert with {type: 'danger'} %}
                {% block content %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                {% endblock %}
            {% endcomponent %}
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <!-- Email -->
        <div class="mb-3">
            <label for="_email" class="form-label">{{ 'label.email'|trans }}</label>
            <input type="email" name="email" id="_email" class="form-control" placeholder="{{ 'placeholder.email'|trans }}" value="{{ last_username }}" autocomplete="email" required autofocus>
        </div>
        <!-- Password -->
        <div class="mb-3">
            <label for="_password" class="form-label">{{ 'label.password'|trans }}</label>
            <input type="password" name="password" id="_password" class="form-control" placeholder="*********" autocomplete="current-password" required>
        </div>
        <!-- Checkbox -->
        <div class="mb-3 d-flex flex-column gap-2 gap-sm-0 flex-sm-row justify-content-sm-between">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="_remember_me" value="" id="_remember_me" checked>
                <label class="form-check-label" for="_remember_me">
                    {{ 'label.remember_me'|trans }}
                </label>
            </div>
            <a href="{{ path('auth_reset_password_request') }}">
                {{ 'action.reset_password_request'|trans }}
            </a>
        </div>
        <!-- Button -->
        <div class="row align-items-center">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">{{ 'action.sign_in'|trans }}</button>
            </div>
            <div class="col-sm-8 text-sm-end">
                {% if getSetting('users_can_register') == "yes" %}
                    <span>
                        {{ 'action.no_account_yet'|trans }} 
                        <a href="{{ path('auth_registration') }}">
                            <u>{{ 'action.sign_up'|trans }}</u>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
    </form>
    <!-- Form END -->
{% endblock %}

{% block social %}
    {% include "global/_social-media.html.twig" %}
{% endblock %}
