<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>
        <title>{% block title %}{% endblock %} | {{ getSetting("website_name") }}</title>
        {% include "layouts/partials/_meta.html.twig" %}
        {% include "layouts/partials/_stylesheets.html.twig" %}
        {% include "layouts/partials/_javascripts.html.twig" %}
    </head>
	<body class="
        {% block page '' %} {% block layout 'default' %}"
        data-timezone="{{ date_timezone }}" 
        {% if getSetting('show_cookie_policy_bar') == "yes" %} data-cookie-bar-page-link="{{ path('page', { slug : getSetting('cookie_policy_page_slug') }) }}" {% endif %} 
        {% if getEnv('DEMO_MODE') == "1" %} data-demo-mode="1" {% endif %}
    >
        <main id="main">
            <div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
                <lottie-player class="d-dark-mode-none mt-n5" src="{{ asset('assets/json/animation-404-light.json') }}" background="transparent" speed="1" loop autoplay></lottie-player>
                <lottie-player class="d-none d-dark-mode-block mt-n5" src="{{ asset('assets/json/animation-404-dark.json') }}" background="transparent" speed="1" loop autoplay></lottie-player>
                <div class="text-center pt-4 mt-lg-2">
                    {% block body %}{% endblock %}
                    <a class="btn btn-lg btn-primary" href="{{ path('blog_index') }}">{{ "Go to homepage"|trans }}</a>
                    <button class="btn btn-lg btn-primary" onclick="window.history.back();" type="button">{{ "Go back"|trans }}</button>
                </div>
            </div>
        </main>
        {% if getSetting("show_back_to_top_button") == "yes" %}
            <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        {% endif %}
    </body>
</html>
